/* @override

 @import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

 /*Other Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html, body, image, iframe, address, object, audio, video {
	cursor: url(../images/cursor2.png), auto; 
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}
a img {
	border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Base Styles */
.cf:before, .cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.cf:after {
	clear: both;
}
body {
	background-color: #fffff;
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
}
.projectDiv {
	background: WhiteSmoke !important;
	margin-bottom: 5%;
	min-height: 450px;
	cursor: url(../images/cursor-pointer.png), auto; 
	transition-duration: 0.1s;
	transition-property: transform;
}
.projectDiv p{
	padding-left:0 !important;
}
.projectDiv:hover {
	/*border: thick solid #E8EFF9;*/
	/*transform: scale(1.002);*/
	/*box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);*/
	/*box-shadow: 10px 10px 5px #888888;*/
}
.portfolioPageMain {
	background: WhiteSmoke !important;
}
a {
	color: #313649 !important;
}
.portfolioPageAlt {
	background: #313649;
	color: #E8EFF2 !important;
	}
.portfolioPageAlt p{
	padding-left:2%;
	padding-right:2%;
}
.portfolioPageAlt h1 {
	color: #E8EFF2 !important;
}
.uofs-header-nav a, .uofs-header-nav span {
	display: inline-block;
}
.portfolioTexts {
	padding-left: 10%;
	padding-right: 10%;
}
.aboutTexts {
	background: WhiteSmoke !important;; 
	padding-left: 2%;
	padding-right: 2%;
	font-size: 2.2em !important;
    line-height: 1.5;
}
.portfolioHomeImg {
	max-height: 300px;
}
.seeDetails {
	color: #FF4912 !important;
	font-style: bold;
}
.portfolioPage .panel-body img {
	border: thin solid #E8EFF2;
	transition: all .2s ease-in-out; 
}
.portfolioPage .panel-body img:hover, .portfolioPage .panel-body img:active {
	width: 100%;
	cursor: url(../images/cursor-pointer.png), auto ; 
}
a:hover, a:active {
	cursor: url(../images/cursor-pointer.png), auto; 	
}
.extern_link:hover, .extern_link:active {
	cursor: url(../images/cursor-pointer-right.png), auto; 
}
.footerDiv h4 a  {
	font-size: 2em !important;
	text-decoration: underline !important;
}
.footerDiv h3 b {
	font-size: 2em !important;
}
.projectIntro a {
	color: #E8EFF2 !important;
	font-style:italic;
}
.uofs-header-nav a{
	text-decoration: none  !important;
	transition: all .1s ease-in-out; 
}
.uofs-header-nav a:hover {
	text-decoration: none  !important;
	border-bottom: medium solid #313649;
}
.uofs-header-masthead a, .uofs-header-masthead a h2 {
	text-decoration: none  !important;
	transition: all .1s ease-in-out; 
}
.uofs-header-masthead {
	text-decoration: none  !important;
	transition: all .1s ease-in-out; 
}
.uofs-header-masthead a:hover, .uofs-header-masthead a h2:hover {
	text-decoration: none  !important;
    transform: scale(1.05);
}
@media (min-width:320px) { 
	/* smartphones, iPhone, portrait 480x320 phones */
	.portfolioTexts, .projectIntro {
		padding-left: 0;
		padding-right: 0;
    	line-height: 1.5;
	}
	.portfolioTexts h3 {
		font-weight: bolder;
		font-variant: small-caps;
	}
	.panel-body h1  {
		font-weight: bolder;
		font-variant: small-caps;
	}
}
@media (min-width:481px) { 
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
	.portfolioTexts {
	padding-left: 2.5%;
	padding-right: 2.5%;
}
@media (min-width:641px) { 
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
		.portfolioTexts, .projectDiv  p {
		padding-left: 5%;
		padding-right: 5%;
	}
	.portfolioTexts p , .projectIntro , .projectDiv p, .homeIntro, .aboutTexts{
		font-size: 2em !important;
	}
	.portfolioTexts h3 {
		font-size: 2.2em !important;
		font-weight: bolder;
		font-variant: small-caps;
	}
	.panel-body h1 {
		font-size: 2.7em !important;
		font-weight: bolder;
		font-variant: small-caps;
	}
}
@media (min-width:961px) { 
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	.portfolioTexts {
	padding-left: 10%;
	padding-right: 10%;
}
@media (min-width:1025px) { 
	/* big landscape tablets, laptops, and desktops */
}
@media (min-width:1281px) { 
	/* hi-res laptops and desktops */ 
}