<div ng-include="'partials/nav.html'"></div>
<section class="guestinfo container-fluid pg" id="aboutPage">
	<h1 class="text-center ">LIVE</h1>
	<br />
	<div class="btn-group center-block row text-left" style="">
		This page contains only information to help you keeping track of event attendees by signing them in
		as they arrive. Get help with organizing
		<a ng-href="#!/aboutconf" target="_blank">Formal Events</a> or <a ng-href="#!/aboutparty" target="_blank">Parties and Bashes.</a>
		<br />
		Evewhyte will help you keep track of people who attend your meeting, event or class. With Evewhyte,
		you can let people sign in at to your class or event. You can either sign them in at the door or pass an
		ipad around to allow them to sign in.
		<br />
		<br />

	</div>
	<div class="row center-block " style="width: 90%">

		<div class="liveTab  animated slideInRight">
			<br />
			<div class="row text-justify">
				<h1 class="text-center">HOW TO</h1>
				<p>
					Start in the <a ng-href="#!/live" target="_blank">Live</a> page.
				</p>
				<p>
					Select the option to <b>Allow New people to add their name</b> and click go.
				</p>
				<p>
					Get a summary of the event as more people checkin and in the <a ng-href="#!/guestlist" target="_blank">Attendee</a>
					page after the event.
				</p>
			</div>
		</div>

	</div>
	<div ng-include="'partials/whyuse.html'"></div>
</section>
