<div ng-include="'partials/nav.html'"></div>
<section class="guestinfo uofs-section container-fluid " id="aboutPage">
	<h1 class="text-center uofs-page-title"><a>CONFERENCE</a></h1>
	<br />
	<div class="btn-group center-block row text-left"  style="">
		<p>
			This page contains only information to help you manage conferences and other formal events.
			Get help with organizing <a ng-href="#/aboutparty" target="_blank">Parties</a> . <!-- or <a ng-href="#/aboutlive" target="_blank">taking attendance at your event or classroom.</a> -->
		</p>
		<p>
			Evewhyte will help you organize your party. With Evewhyte, you can generate and design tickets, check-in people
			as they arrive at the door and even keep track of the people who attend your event and how much money you made.
		</p>
	</div>
	<div class="row center-block " style="width: 90%">

		<div class="liveTab  animated slideInRight">
			<div class="row text-justify">
				<h1 class="text-center">HOW TO</h1>
				<p>
					Start in the <a ng-href="#/populate" target="_blank">Add Attendee</a> page. Copy and paste the
					list of attendees from an excel file or add them one at a time, one par line in the text field.
				</p>
				<p>
					Next, go to the <a ng-href="#/nameBadge" target="_blank">Design Name Badge</a> page, enter the event details
					and select the name badge style and color.
					Each guest you added will have one name badge generated automatically for them.
				</p>
				<p>
					Print the name badges.
				</p>
				<p>
					You can now check in attendees in the <a ng-href="#/live" target="_blank">Live</a> screen page.
					Type the name or other detail of the attendee and click "check-in".
				</p>
			</div>
		</div>

	</div>
	<div ng-include="'partials/whyuse.html'"></div>
</section>

