<div ng-include="'partials/nav.html'"></div>
<section class="guestinfo uofs-section container-fluid animated slideInDown" id="aboutPage">
	<!-- <br /> -->
	<div class="back_div pull-left ">
		<a type="button" class="btn btn-default btn-xs" ng-href="#/home">&laquo; Home</a>
	</div>
	<div class="pull-right">
		<a type="button" class="btn btn-default btn-xs" ng-href="#/populate">Manage Attendees &raquo;</a>
	</div>
	<h1 class="text-center uofs-page-title"><a>Eventstone</a></h1>
	<br />
	<div class="btn-group center-block row text-center" data-toggle="buttons" style="">
		Eventstone is designed to protect your privacy and also help you recover your data if you lose it.
		Start by clicking <b><i>"Before your event"</i></b> below.
		<br />
		<br />
		Click one of the options below to learn how to use Eventstone.
		<br />
		<br />
		<a class="col-md-2 "></a>
		<label  class="btn btn-primary btn-xs col-md-2 " ng-click="designBTab=false;designTTab=false;addGTab=false;liveTab=true;" >
			<input type="radio" name="options" id="option1">
			Before your event </label>
		<label class="btn btn-primary btn-xs col-md-2  " ng-click="addGTab=true;designTTab=false;designBTab=false;liveTab=false;" >
			<input type="radio" name="options" id="option2">
			How to add guest </label>
		<label class="btn btn-primary btn-xs col-md-2  " ng-click="designTTab=true;designBTab=false;addGTab=false;liveTab=false;">
			<input type="radio" name="options" id="option3">
			How to design Tickets </label>
		<label class="btn btn-primary btn-xs col-md-2  " ng-click="designBTab=true;designTTab=false;addGTab=false;liveTab=false;" >
			<input type="radio" name="options" id="option4">
			How to design Name Badges </label>
		<a class="col-md-2 "></a>

	</div>

	<div class="row center-block " style="width: 90%">

		<div class="liveTab  animated slideInRight" ng-show="liveTab">
			<br />
			<div class="row text-justify">
				<p>
					Before going to the live screen to start an event. Confirm that all your attendees have been added.
					You can do this by viewing the <a ng-href="#/guestList" target="_blank">List</a>.
					Please, <a ng-href="#/populate" target="_blank">add Attendees</a> now if you have not already done so. Old attendees
					will be backed up automatically when you add a new list. This can be restored at anytime from the
					<a ng-href="#/guestList" target="_blank">List</a> page.
				</p>
				<p>
					Remember, deleting your browser will delete all guests.
				</p>
				<p>
					On the <a ng-href="#/live" target="_blank">live screen</a>, enter event name and click go.
				</p>
				<p>
					You can now check in attendees in the next screen. Type the name of the attendee and click "check-in".
				</p>
				<p>
					Refresh page at any time to change event name  or other options in the live screen window.
				</p>
				<p>
					You will never lose the guests you have checked in and the time you checked them in.
				</p>
			</div>
		</div>
		<div class="addGTab  animated slideInRight" ng-show="addGTab">
			<br />
			<div class="row text-justify">
				<p>
					To add guests from an excel file. Highlight all the columns you want to add and copy and paste the field in the text area provided.
					Next, click "Add guests". Attendees will be added and formatting handled for you.
				</p>
				<p>
					To add only specific columns, copy them to a new excel sheet, one column at a time. Next, copy and paste all of them in the
					text area provided.
				</p>
			</div>
		</div>
		<div class="designTTab  animated slideInRight" ng-show="designTTab">
			Work in progress

		</div>
		<div class="designBTab  animated slideInRight" ng-show="designBTab">
			Work in progress

		</div>
	</div>
	<br />
	Please try to <b>download your guest list before you uninstall your browser or delete your browser history</b>. This is because your data is stored only in your device and in your device alone. Eventstone does not store your data or that of your guests in the cloud. Deleting a list with one of the options provided will, however, create a backup of your attendee list on your device.
	<br />
	<h1 class="text-center">Why Eventstone</h1>
	<div class="row text-muted text-justify" style="padding-left: 10%;padding-right: 10%;">
		<p>
			This all started a few months ago when I decided to make a simple app to make it easier and faster for guests to check in at events that happen in Marquis hall. I have been helping out at Marquis for almost 2 years now doing setup and other things when we host banquets, dinners, galas and conferences. Anytime I work there, I notice guests waiting in line to be checked in from a list on paper or, in rare occasions, a document on a computer. The process took time and was stressful for some guests.  This made me decide to make something that will save peoples time, empower event organizers especially those organizing small events and protect the privacy of guests.
		</p>
		<p>
			I believe that people should be able to do something meaningful and unique with the limited resources they have. I also believe that we should be able to control access to the information about the things we do, like the events we organize, and the people we do it with, like the guests who attend our events. I am passionate about making things that solve my problems and the problems of my friends. That is why I made Eventstone.
		</p>
		<p>
			Eventstone started from a quick and dirty sketch on a whiteboard. In the process of making Eventstone, I always think about events that it might be used and I draw out simple sketches of the app while I am imagining people using it. Through the process, I have been able to refine the idea by having people test it and by getting comments from users. I have spent nights and days working on Eventstone and I am excited to share some of its features with you. When I think about Eventstone, I see an app that takes on most of the responsibility for people who organize events and and app that makes events run smoothly. I see an app that protects the privacy of people who organize and attend events. It does this by storing event details and user data in one device, the device of the one organizing the event.
		</p>
	</div>
</section>

