<div ng-include="'partials/nav.html'"></div>
<section class="guestinfo uofs-section container-fluid animated slideInDown" id="aboutPage">
	<h1 class="text-center uofs-page-title"><a>PARTY</a></h1>
	<br />
	<div class="btn-group center-block row text-left" style="">
		This page contains only information to help you manage parties. Get help with organizing
		<a ng-href="#/aboutconf" target="_blank">Formal Events</a> or <a ng-href="#/aboutlive" target="_blank">taking attendance at your event or classroom.</a>
		<br />
		Evewhyte will help you organize your party. With Evewhyte, you can generate and design tickets, check-in people
		as they arrive at the door and even keep track of the people who attend your event and how much you made.
		<br />
		<br />

	</div>
	<div class="row center-block " style="width: 90%">

		<div class="liveTab  animated slideInRight">
			<br />
			<div class="row text-justify">
				<h1 class="text-center">HOW TO</h1>
				<p>
					Start in the <a ng-href="#/addticket" target="_blank">Generate Ticket</a> page. Enter the number
					of tickets you want to generate and click click.
				</p>
				<p>
					Next, go to the <a ng-href="#/tickets" target="_blank">Design Ticket</a> page and enter the event details.
				</p>
				<p>
					Print the tickets.
				</p>
				<p>
					You can now check in attendees in the <a ng-href="#/live" target="_blank">Live</a> screen page.
					Type the number found in the ticket you sold to them and click "check-in".
				</p>
			</div>
		</div>

	</div>
	<h1 class="text-center">WHY USE EVEWHYTE</h1>
	<div class="row text-muted text-justify" style="padding-left: 10%;padding-right: 10%;">
		<p>
			This all started a few months ago when I decided to make a simple app to make it easier and faster for guests to check in at events that happen in Marquis hall. I have been helping out at Marquis for almost 2 years now doing setup and other things when we host banquets, dinners, galas and conferences. Anytime I work there, I notice guests waiting in line to be checked in from a list on paper or, in rare occasions, a document on a computer. The process took time and was stressful for some guests.  This made me decide to make something that will save peoples time, empower event organizers especially those organizing small events and protect the privacy of guests.
		</p>
		<p>
			I believe that people should be able to do something meaningful and unique with the limited resources they have. I also believe that we should be able to control access to the information about the things we do, like the events we organize, and the people we do it with, like the guests who attend our events. I am passionate about making things that solve my problems and the problems of my friends. That is why I made Eventstone.
		</p>
		<p>
			Eventstone started from a quick and dirty sketch on a whiteboard. In the process of making Eventstone, I always think about events that it might be used and I draw out simple sketches of the app while I am imagining people using it. Through the process, I have been able to refine the idea by having people test it and by getting comments from users. I have spent nights and days working on Eventstone and I am excited to share some of its features with you. When I think about Eventstone, I see an app that takes on most of the responsibility for people who organize events and and app that makes events run smoothly. I see an app that protects the privacy of people who organize and attend events. It does this by storing event details and user data in one device, the device of the one organizing the event.
		</p>
	</div>
</section>
