<section class="guestinfo uofs-section container-fluid">
	<br />
	<div class="back_div pull-left ">
		<a type="button" class="btn btn-default btn-xs" ng-href="#/home">&laquo; Back to Eventstone</a>
	</div>
	<h1 class="text-center uofs-page-title"><a>Cheat Sheet Generator</a></h1>
	<br />
	<div class="row dataFieldContainer center-block  text-center">
		<textarea ng-model="cheatField" placeholder="Paste all the text you want to add to a cheat sheet. All lines will be removed and joined to the preceeding line." 
		class="dataField form-control" type="textarea" style="height: 400px !important;"></textarea>
	</div>
	<div class=" populate_div  panel panel-default" data-toggle="buttons" style="padding-bottom: 2%;">
		<div class="panel-body">
			<div class="pull-right">
				<button ng-model="btnText" type="button" ng-show="cheatField.length >=1"
				class="btn btn-primary btn-xs" ng-click="clearField(cheatField); cheatField = ' ' ">
					Clear Field
				</button>
				<button ng-model="btnText" type="button"
				class="btn btn-primary checkInBtn " ng-click="outPutwithDash()">
					Generate Text
				</button>
			</div>
			<button ng-model="btnText" type="button" name="printreport" id="printreport"
			class="btn btn-primary checkInBtn pull-left " ng-click="printpage()" ng-show="$storage.xx.length>0">
				Print Cheat Sheet
			</button>
		</div>
	</div>
	<div>
		<!-- {{$storage.x}} -->
		<!-- <p >{{dateString()}}</p> -->

		<button ng-hide="true" ng-click="$storage.$reset({ })">
			Clear localStorage
		</button>
	</div>
	<div id="content">
		<p style="font-size: 9px; text-align: justify; font-family: Tahoma;" id="">
			{{$storage.xx}}
		</p>
	</div>
	<p class="text-center"  ng-show="$storage.xx.length>0">Need another app like this? Maybe something that can help you with school? Shoot me a message and I will try to make it.</p>
</section>