<div ng-include="'partials/nav.html'"></div>
<section class="container-fluid uofs-section " id="dashboardPage" style="left: 0;">
	<div class="row text-center center-block">
		<div ng-repeat="item in $storage.allEvents" class="col-lg-4 col-sm-4 col-xs-4 text-center" >
			<a type="button" style="width:100%;" href="" class="btn btn-sm" type="button" ng-click="setEvent(item.eventName)" ng-style="$storage.allEvents[$storage.allEvents.indexOf(item)].eventName == $storage.eventName && {'border-bottom':'thin solid #EEEEEE', 'border-style' : 'outset'}"> {{item.eventName}}</a>

		</div>
	</div>
	<div class="row" >
		<table class="table table-responsive table-hover table-striped table-bordered table-condensed" >
			<tbody>
				<tr ng-repeat="item in $storage.guestsList">
					<td ><a href="" ng-click="removeElement($storage.guestsList, $storage.guestsList.indexOf(item))"><span class="glyphicon glyphicon-remove"></span></td>
					<td ng-repeat="a in item">{{ a }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>