<div ng-include="'partials/nav.html'"></div>
<section class="container-fluid pg " id="dashboardPage" style="left: 0;">
	<div class="" ng-show="$storage.allEvents == undefined || $storage.allEvents.length < 1" style="padding:5%;">
		<h1>Welcome to your dashboard. Add an event to get started</h1>
	</div>
	<div class="row text-left" style="padding-left: 50px; padding-right: 50px;">
		<div ng-repeat="item in $storage.allEvents" class="col-md-4 col-sm-6 col-xs-12" >
			<a   style="width:100%;text-align: left" href="" class="btn btn-lg" type="button" ng-click="setEvent(item.eventName, item.eventType)" ng-style="$storage.allEvents[$storage.allEvents.indexOf(item)].eventName == $storage.eventName && {'border':'1px solid #F50057','outline':'0'}" > {{item.eventName}}</a>
		</div>
		<div  class="col-xs-12" >
			<a  style="width:100%;text-align: left;font-size: 40px;" href="" class="btn btn-lg" type="button" ng-href="#!/new"   data-toggle="tooltip" title="Add new Event"><span class="glyphicon glyphicon-plus-sign "> </span> </a>
		</div>
	</div>
	<br />
	<div class="" ng-hide="$storage.allEvents == undefined || $storage.allEvents.length < 1">
		<div class="row">
			<a class="col-xs-12 col-sm-4 btn btn-lg" href="#!/guestList"><span class="fa fa-bar-chart" > Summary and Stats</span></a>
			<a class="col-xs-12 col-sm-4 btn btn-lg " href="#!/tickets" ng-show="$storage.eventType == 'ticket'"><span class="fa fa-ticket"
			> Design Ticket</span></a>
			<a class="col-xs-12 col-sm-4 btn btn-lg" href="#!/namebadge" ng-show="$storage.eventType == 'list'"><span class="fa fa-ticket"
			> Design Namebadge</span></a>
			<!-- <a class="btn btn-lg" href="#!/newevent"><span class="fa fa-edit"> Change Event Details</span></a> -->
			<a class="col-xs-12 col-sm-4 btn btn-lg" href="#!/live"><span class="fa fa-play"> Start Event</span></a>
		</div>
		<br />
		<form class="text-center form col-xs-12">
			<input ng-model="dashSearch" placeholder="Search for a ticket number or name"
			autofocus="autofocus" class=" form-control" >
		</form>
		<p class="clearfix"></p>
		<div ng-repeat="item in $storage.guestsList  | filter:dashSearch" class="col-lg-2 col-md-3 col-sm-4 col-xs-12 text-center guestInDash"  ng-style="($index % 2 == 0) ? {'border' : '1px solid #EEEEEE'} : {'border' : '1px solid #D3DCF2'}">
			<p  class="text-left">
				<span style="font-weight: bold;">{{item.id}} {{item[1]}}</span>
				<br />
				<span class="text-muted"> {{item.guestStatus ? item.guestStatus : 'No Show'}}</span>
			</p>
		</div>
	</div>
</section>