<section class="guestinfo uofs-section">
  <div class="guest cf" ng-model="guests">
    <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
    <h1>{{guests[whichItem].name}}</h1>
    <div class="info">
      <h3>{{guests[whichItem].reknown}}</h3>
      <img ng-src="images/{{guests[whichItem].shortname}}_tn.jpg" alt="Photo of {{guests[whichItem].name}}">
      <div class="bio">{{guests[whichItem].bio}}</div>
    </div>
  </div>
  <a href="index.html">&laquo; Back to search</a>
</section>