<div ng-include="'partials/nav.html'"></div>
<section class="guestpage container-fluid pg " id="guestListPage">
	<div  style="padding-right: 50px;">
		<div class=" pull-left" >
			<a class="btn btn-default btn-xs" type="button" ng-href="#!/dashboard"> <span class="fa fa-tachometer"></span> Dashboard</a>
		</div>
		<div class=" pull-right"  ng-hide="$storage.eventType == 'ticket'">
			<button class="btn btn-primary btn-xs pull-right" ng-click="eventSummary = !eventSummary;">
				<span ng-show="!eventSummary">View summary</span><span ng-show="eventSummary">Hide Summary</span>
			</button>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="guestlist row center-block" >
		<div class=" text-left" ng-show="eventSummary">
			<form role="form">
				<div class="form-group col-sm-6 ">
					<label> Word/Phrase to count occurrence of </label>
					<input class="form-control"  placeholder="Type 'Nurse' to get how many times Nurse is found in a column" type="text"
					ng-model="summaryItem">
				</div>
				<div class="form-group col-sm-6">
					<label >Column number to search for word</label>
					<input  class="form-control"  placeholder="Column to find word" type="text"
					ng-model="columnNumber" ng-required="true">
				</div>
			</form>
			<p class="col-lg-12 text-muted" ng-show="summaryItem.length > 0 && columnNumber.length > 0">
				{{summaryItem}} was found <b class="text-success" style="font-size: xx-large;">{{sessionTotal(summaryItem, columnNumber)}}</b> times in
				column {{columnNumber}}
			</p>
		</div>
		<div class="clearfix"></div>
		<div id="toPrint">
			<h1>{{$storage.eventName }}</h1>
			<a class="btn btn-primary btn-lg pull-left " ng-click="exportData('toPrint', 'xls')"><span class="glyphicon glyphicon-save"></span></a>
			<div class="clearfix"></div>
			<div class="row" >
				<h3 class="col-xs-3">
					{{$storage.guestsList.length}} total
				</h3>
				<h3 class="col-xs-3 text-success">
					{{checkIns()}} attended
				</h3>
				<h3 class="col-xs-3 text-warning">
					{{noCheckIns()}} no show
				</h3>
				<h3 class="col-xs-3 text-warning">
					{{checkIns()/noCheckIns() * 100 | number:0}}% attened
				</h3>
			</div>
			<table class="table table-responsive table-bordered text-left table-condensed" >
				<tbody>
					<tr ng-repeat="item in $storage.guestsList" class="toPrintTr">
						<td ng-repeat="a in limitDisplay(item, 7) track by $index" ng-show="a != undefined && item[0] != '-'">{{ a ? a : "Not Checked In" }}</td>
						<td ng-show="item[0] == '-'">{{item.id}}</td>
						<td>{{item.guestStatus ? item.guestStatus : "No Show" }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

