<div ng-include="'partials/nav.html'"></div>
<section class="guestpage container-fluid uofs-section " id="guestListPage">
	<div class=" pull-left" >
		<a class="btn btn-default btn-xs" type="button" ng-href="#/populate"> <span class="uofs-icon uofs-icon-chevron-left"></span> </a>
	</div>
	<div class="guestlist row  text-center center-block" >
		<div class="row">
			<div class="">
				<p style="" class="col-xs-12 col-md-2 pull-right">
					<button class="btn btn-primary btn-xs pull-right" ng-click="eventSummary = !eventSummary;">
						<span ng-show="!eventSummary">View summary</span><span ng-show="eventSummary">Hide Summary</span>
					</button>
				</p>
			</div>
			<div class="  panel panel-default" data-toggle="buttons" style="padding-bottom: 2%;"
			ng-show="eventSummary">
				<div class="panel-body">
					<form role="form">
						<div class="form-group col-md-6 text-center">
							<label >Word/phrase to get summary of: </label>
							<input class="form-control"  placeholder="Type 'Nurse' to get how many times Nurse is found in a column" type="text"
							ng-model="summaryItem">
						</div>
						<div class="form-group col-md-6 text-center">
							<label >Column number</label>
							<input  class="form-control"  placeholder="Column to find word" type="text"
							ng-model="columnNumber" ng-required="true">
						</div>
					</form>
					<div class="row text-left" style="padding-left: 5%;padding-right: 5%;">
						<span class="text-left text-muted"> Eg. If I wanted to get how many times {{$storage.guestsList[0][0]}} shows up in
							column 1, I would enter  '{{$storage.guestsList[0][0]}}' in the first field and '1' in the second field.
							You may use this feature to get a summary of the role of attendees or the session they signed up for. This could also be used to get the
							total number of attendees from a school/company or to see total attendees with the same title. </span>
					</div>
					<p class=" text-muted" ng-show="summaryItem.length > 0 && columnNumber.length > 0">
						{{summaryItem}} was found <b class="text-success" style="font-size: xx-large;">{{sessionTotal(summaryItem, columnNumber)}}</b> times in
						column {{columnNumber}}
					</p>
					<br />
					<div class="row text-center " >
						<span class="col-lg-4 col-md-4 col-sm-4">{{$storage.guestsList.length}} total</span>
						<!-- <br /> -->
						<span class="col-lg-4 col-md-4 col-sm-4 text-success">{{checkIns()}} checked-in</span>
						<!-- <br /> -->
						<span class="col-lg-4 col-md-4 col-sm-4 text-warning">{{noCheckIns()}} not checked-in</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<form class="search  text-center form col-xs-12 col-md-10 pull-left">
				<input ng-model="guestSearch" placeholder="Search for a ticket number or name"
				autofocus="autofocus" class="searchBar form-control gListSearch center center-block" >
			</form>
			<p style="" class="col-xs-12 col-md-2 pull-right">
				<button class="btn btn-primary btn-xs" ng-click="printGuestList()">
					Print List
				</button>
				<button  ng-model="btnText" type="button" class="btn btn-warning btn-xs"
				ng-show="$storage.guestsList.length > 0" ng-click="deleteStored()">
					Remove All
				</button>
			</p>
		</div>
		<table class="table table-responsive table-hover table-striped table-bordered table-condensed" >
			<tbody>
				<tr ng-repeat="item in $storage.guestsList | filter:guestSearch">
					<td ><a href="" ng-click="removeElement($storage.guestsList, $storage.guestsList.indexOf(item))"><span class="glyphicon glyphicon-remove"></span></td>
					<td ng-repeat="a in item">{{a ? a : 'Not Checked-in'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<p class="row text-center " ng-show="$storage.guestsList.length != $storage.backUpGuestList.length">
			<span ng-show="listreplace"> Did you remove all your guest? You can restore it from back up.
				<button type="button" class="btn btn-primary btn-xs " ng-click="replaceList()">
					Restore from Back Up
				</button></span>
			<span ng-show="!listreplace">This would remove all current guests. Are you sure?
				<button type="button" class="btn btn-primary btn-xs " ng-click="replaceList(); restoreFromBackUp()">
					Yes. Replace.
				</button></span>
		</p>
	</div>
</section>

