<section class="uofs-section jumbotron  uofs-section-cover text-center  homeBg " data-lastmodifiedby="uiu040"
style="position:fixed;top:0;left:0;right:0;bottom:0;height:100%;overflow: hidden;" id="">
	<div class="" id="home_bg">
		<!-- <br />
		<br />
		<br />
		<br /> -->
		<!-- <p style="background-color: rgba(0, 0, 0, 0.3); padding: 2%;" class="jumbotron uofs-jumbotron-grey">
		<span> I am Evewhyte. I am your buddy and I will help you organize and manage your events. <a  ng-href="#/about"> See how  &raquo;</a>
		</p> -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  jumbotron "
		id="home_welcome">
			<div class="text-center row center-block container-fluid" >
				<h1 class="brandTitle"> EveWhyte  </h1 >
				<p class="text-left">
					Organize and manage your events. Enter the event name to get started.
				</p>
				<input ng-model="$storage.eventName" placeholder="  Event name"
				class="form-control" id="homeInput" autofocus="autofocus" autocomplete="autocomplete">
			</div>
		</div>
		<div class=" center-block text-center row home_center" >
			<a class="col-lg-6 col-md-6 col-sm-6 col-xs-6  jumbotron animated slideInUp" ng-href="#/addticket"
			id="home_party"> <h1 ng-show="$storage.eventName==''">Party</h1><b>
			<br />
			<div ng-show="$storage.eventName.length>=1" >
				<div>
					<p id="partyPrev">
						<span>
						<h3 class="newPrev">{{$storage.eventName}}</h3>
						Throw a Party. Generate and design tickets for your Party.</span>
					</p>
				</div>
			</div> </a>
			<a class="col-lg-6 col-md-6 col-sm-6 col-xs-6  jumbotron animated slideInUp" ng-href="#/populate"
			id="home_conf"> <h1 ng-show="$storage.eventName==''">Conf</h1><b>
			<br />
			<div ng-show="$storage.eventName.length>=1" >
				<div>
					<p id="confPrev">
						<span>
						<h3 class="newPrev">{{$storage.eventName}}</h3>
						Manage an Attendee list and design Name Badges for your conference.</span>
					</p>
				</div>
			</div> </a>
		</div>
		<!-- <a class="" ng-href="#/aboutparty" > <i class="uofs-icon uofs-icon-help " id="party_help"></i> </a> -->
		<a class="" ng-href="#/aboutparty" > <i class="uofs-icon uofs-icon-help " id="party_help"></i> </a>
		<a class="" ng-href="#/aboutconf" > <i class="uofs-icon uofs-icon-help " id="conf_help"></i> </a>
	</div>
</section>