<section class="uofs-section jumbotron  uofs-section-cover text-center  animated  zoomIn homeBg" data-lastmodifiedby="uiu040"
style="position:fixed;top:0;left:0;right:0;bottom:0;height:100%;overflow: hidden;" id="home_bg">
	<div style="opacity: 1;"  class="container-fluid" >
		<h1><span>Eventstone</span></h1>
		<p style="background-color: rgba(0, 0, 0, 0.3); padding: 2%;">
			<span>
				<!-- Made with <a href="http://web.usask.ca/limestone/"
				target="_blank">Limestone</a>,  -->
				Eventstone is your buddy that helps you organize and manage events of any size. 
				Your buddy helps you add, edit, and check-in event guests, design, generate and print unique tickets 
				that cannot be faked and gives you a summary of the tickets and guests at the end of each event. 
				Evenstone saves your time and that of guests and 
				also protects your privacy by only storing data in your device.  </span>
		</p>

		<ol class="list-inline uofs-cta-list class="breadcrumb"">
			<li>
				<a class="btn btn-default btn-lg" ng-href="#/populate">&nbsp;&nbsp; Manage Event&nbsp;&nbsp; </a>
			</li>
			<!-- <li>
				<a class="btn btn-default btn-xs" >&nbsp;&nbsp; Learn More&nbsp;&nbsp; </a>
			</li> -->
		</ol>
	</div>
</section>