<section class="guestpage container-fluid pg">
	<div class="page-header text-center">
		<h1>Schedule City</h1>
	</div>
	<div class="row times">

		<div class="col-xs-4 text-center">

			<h2>Monday</h2>

			<div class="time-slot">
				<input type="checkbox" id="monday-time">
				<label for="monday-time">9:00am</label>
			</div>
		</div>

	</div>

	<p class="text-center">
		<a ng-click="reset()" class="btn btn-primary">Reset</a>
	</p>
	<p>
		---- {{hey}}
	</p>

	<p>
		{{ref | json}}
	</p>

</section>