<section class="guestpage container-fluid uofs-section animated slideInDown">
	<form class="search center-block row text-center form">
		<h1 class="text-center uofs-page-title"><a>Guest check-in</a></h1>
		<br class="clearfix"/>
		<input ng-model="guestSearch" placeholder="Enter your name, NSID or other info to check-in"
		autofocus="autofocus" class="searchBar form-control" >
		<div ng-show="visualize()" class="alert">
			<p  class=" text-center center-block" >
			<strong>{{instruction}}...</strong> 
			</p>
		</div>

	</form> <hr />
	<br />
	<ul class="guestlist row" ng-hide="visualize()" >
		<li class="guest cf" ng-repeat="item in $storage.guestsList | filter: guestSearch | orderBy: guestOrder:direction">
			<a>
			<div class="info">
				<div class="row" style="padding-bottom: 1%;">
					<div class="col-xs-6 col-md-6  pull-left ">
						<h3>{{item.name}}</h3>
					</div>
					<div class="col-xs-6 col-md-6 text-left">
						<button  type="button"
						class="btn btn-primary checkInBtn " ng-click="checkedIn($storage.guestsList.indexOf(item))">
							{{item.btnText}}
						</button>
					</div>
				</div>
			</div> </a>
		</li>
	</ul>
	<div class="back_div pull-left close">
		<a ng-href="#/home">&laquo; Exit</a>
	</div>
	<div class="pull-right">
		<a type="button" class="btn btn-default btn-xs" href="http://www.usask.ca/ict/help-support/index.php"> 
			Help  &raquo;</a>
		<!-- <a href="http://www.usask.ca/ict/help-support/index.php" target="_blank">Help  &raquo;</a> -->
	</div>
	<footer class="uofs-footer cf" ng-include="'footer.html'"></footer>
</section>

