<section onload="startTime()" class="guestpage container-fluid pg " id="livePage" ng-mouseover="hide_logo=true;">

	<div class="row text-center text-info center-block" ng-show="firstLiveScreen">
		<p ng-show="firstLiveScreen">
			On next page, enter a ticket number or name and click <b>check in</b>.
		</p>
		<h3>Would you want to add new people to the list during checkin?</h3>
		<div class="row btn-group-lg">
			<div class=" text-center center-block ">
				<a type="button" class="btn btn-default "
				ng-click="secondLiveScreen=true;firstLiveScreen=false;addNewGuestOption=true; "> Yes</a>
				<a type="button" class="btn btn-default "
				ng-click="secondLiveScreen=true;firstLiveScreen=false; " > No</a>
			</div>
		</div>
		<br />
	</div>
	<div class="row" ng-show="secondLiveScreen" >
		<form class="search center-block row text-center form">
			<h1 class="text-center">{{($storage.eventName).toUpperCase()}}</h1>
			<br class="clearfix"/>
			<div class="row">

			</div>
			<input ng-model="guestSearch" placeholder="Type ticket number, name, NSID or other info here to check-in an attendee"
			class=" form-control " autofocus>
			<div ng-show="visualize()" class="alert">
				<p  class=" text-center center-block" >
					{{instruction}}...
				</p>
			</div>
		</form>
		<div class="guestlist" ng-hide="visualize()">
			<br />
			<table class="table table-responsive table-hover text-left" >
				<tr ng-repeat="item in $storage.guestsList | filter:guestSearch" class="liveTr">
					<td class="">
					<button  type="button" ng-show="item.guestStatus == false"
					class="btn btn-primary checkInBtn  btn-danger pull-right" ng-click="checkedIn($storage.guestsList.indexOf(item));">
						Check-In
					</button></td>
					<td ng-repeat="a in limitDisplay(item, 6) track by $index" ng-hide="a == false">{{ a ? a : "" }}</td>
					<td ng-show="item[0] == undefined">{{item.id}}</td>
				</tr>
			</table>
		</div>
	</div>
	<button  type="button" ng-show="addNewGuestOption"
	class="btn btn-default" ng-click="showAddField=!showAddField">
		Add New Attendee
	</button>
	<br />
	<div class="row text-center text-info center-block" ng-show="addNewGuestOption && showAddField">
		<br />
		<div class=" col-lg-4 col-md-4" >
			<input placeholder="Enter your name, NSID or other info and click register"
			class=" form-control" ng-model="userRegInfo">
		</div>
		<div class=" col-lg-3 col-md-3" >
			<button  type="button"
			class="btn btn-primary"
			ng-click="checkInSingle(userRegInfo);liveMsgStatus=true;liveMsg();">
				Add and Check in
			</button>
		</div>
		<div class=" col-lg-5 col-md-5" ng-show="liveMsgStatus">
			<h3> {{$storage.guestsList[$storage.guestsList.length-1][0]}} - {{$storage.guestsList[$storage.guestsList.length-1].guestStatus}}</h3>
		</div>
		<br />
	</div>
	<br />
	<div id="txt" class="text-center " style="font-size: 80px;"></div>
	<div class="back_div pull-left ">
		<a type="button" class="btn btn-default btn-xs" ng-href="#!/dashboard"> <span class="fa fa-tachometer"></span></a>
	</div>
	<div class="pull-right" style="font-size: 25px;">
		<a type="button" class="" ng-href="#!/aboutparty" target="_blank" ng-show="$storage.eventType == 'ticket'"> <i class="glyphicon glyphicon-question-sign"></i></a>
	</div>
	<div class="pull-right" style="font-size: 25px;">
		<a type="button" class="" ng-href="#!/aboutconf" target="_blank" ng-show="$storage.eventType == 'list'"> <i class="glyphicon glyphicon-question-sign"></i></a>
	</div>
</section>

