<section onload="startTime()" class="guestpage container-fluid pg " id="livePage" ng-mouseover="hide_logo=true;">

	<div class="row text-center text-info center-block" ng-show="firstLiveScreen">
		<p ng-show="firstLiveScreen">
			On next page, enter a ticket number or name and click <b>check in</b>.
		</p>
		<h3>Would you want to add new people to the list during checkin?</h3>
		<div class="row btn-group-lg">
			<div class=" text-center center-block ">
				<a type="button" class="btn btn-default "
				ng-click="secondLiveScreen=true;firstLiveScreen=false;addNewGuestOption=true; "> Yes</a>
				<a type="button" class="btn btn-default "
				ng-click="secondLiveScreen=true;firstLiveScreen=false; " > No</a>
			</div>
		</div>
		<br />
	</div>
	<div class="row" ng-show="secondLiveScreen" >
		<form class="search center-block row text-left form">
			<h1 class="text-center">{{($storage.eventName).toUpperCase()}}</h1>
			<div class="col-xs-12">
				<label>Search to checkin</label>
				<input ng-model="guestSearch" placeholder="Enter ticket number or name" class="form-control" autofocus>
			</div>
			<div ng-show="visualize()" class="col-xs-12">
				<p  class="text-center center-block" >
					{{instruction}}...
				</p>
			</div>
		</form>
		<div class="guestlist" ng-hide="visualize()">
			<br />
			<table class="table table-responsive table-hover text-left" >
				<tr ng-repeat="item in $storage.guestsList | filter:guestSearch" class="liveTr">
					<td class="">
					<button  type="button" ng-show="item.guestStatus == false"
					class="btn btn-primary checkInBtn  btn-danger pull-right btn-lg" ng-click="checkedIn($storage.guestsList.indexOf(item));">
						Check-In
					</button></td>
					<td ng-repeat="a in limitDisplay(item, 6) track by $index" ng-show="a != undefined && item[0] != '-'">{{ a ? a : "Not Checked In" }}</td>
					<td ng-show="item[0] == '-'">{{item.id}}</td>
					<td>{{item.guestStatus ? item.guestStatus : "No Show" }}</td>
				</tr>
			</table>
		</div>
	</div>
	<br />
	<hr />
	<br />
	<button  type="button" ng-show="addNewGuestOption"
	class="btn btn-default pull-right btn-xs" ng-click="showAddField=!showAddField">
		<span class="glyphicon glyphicon-plus"></span> New Person to List
	</button>
	<br />
	<div class="row text-left text-info center-block" ng-show="addNewGuestOption && showAddField">
		<br />
		<div class=" col-xs-4" >
			<input placeholder="Enter your name, NSID or other info and click register"
			class=" form-control" ng-model="userRegInfo">
		</div>
		<div class=" col-xs-3" >
			<button  type="button"
			class="btn btn-primary"
			ng-click="checkInSingle(userRegInfo);liveMsgStatus=true;liveMsg();">
				Add and Check in
			</button>
		</div>
		<div class=" col-xs-5" ng-show="liveMsgStatus">
			<h3> {{$storage.guestsList[$storage.guestsList.length-1][0]}} - {{$storage.guestsList[$storage.guestsList.length-1].guestStatus}}</h3>
		</div>
		<br />
	</div>
	<br />
	<div id="txt" class="text-center " style="font-size: 80px;"></div>
	<div class="pull-left">
		<a type="button" class="btn btn-default" ng-href="#!/guestList"> <i class="fa fa-bar-chart"></i></a>
	</div>
	<div class="pull-right ">
		<a type="button" class="btn btn-default" ng-href="#!/dashboard"> <span class="fa fa-tachometer"></span></a>
	</div>
</section>

