<div style="position:fixed;top:0;left:0;right:0;bottom:0;height:100%;overflow: hidden;">
	<div id="home_bg">
		<div  id="login_bg_grayed"></div>
		<div class="col-sm-10 col-sm-offset-1"  style="padding-top: 120px;color: white;">
			<form class="form center-block " ng-show="!$storage.user.token">
				<div class="row text-center">
					<b class="text-muted"> {{$storage.lan.home.logInInfo}} </b>
					<br class="clearfix" />
					<div class="form-group col-xs-4">
						<button type="submit" class="btn btn-primary loginBtn btn-lg" ng-click="login('facebook')" >
							<i class="fa fa-facebook-official" ></i>
						</button>
					</div>
					<div class="form-group col-xs-4">
						<button type="submit" class="btn btn-primary loginBtn btn-lg" ng-click="login('google')">
							<i class="fa fa-google" ></i>
						</button>
					</div>
					<div class="form-group col-xs-4">
						<button type="submit" class="btn btn-primary loginBtn btn-lg" ng-click="login('twitter')">
							<i class="fa fa-twitter" ></i>
						</button>
					</div>
				</div>
			</form>
			<form class="form text-center center-block" ng-show="$storage.user.token">
				<div class="row">
					<img src="{{$storage.user.signInUser.photoURL}}" class=" img-responsive center-block"/>
					<p>
						{{$storage.user.signInUser.displayName}}
						<br />
						<span class="text-muted">{{$storage.user.signInUser.email}}</span>
					</p>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary loginBtn" ng-click="logOut()">
						<i class="fa fa-sign-out" ></i> {{$storage.lan.home.logOut}}
					</button>
					<a ng-href="#!/dashboard" class="btn btn-primary " type="button"> <i class="fa fa-tachometer" ></i> {{$storage.lan.home.dBoard}} </a>
				</div>
			</form>
		</div>
		<video  autoplay loop muted id="bgvid" preload="auto"
		autoplay=""  aria-hidden="true" role="presentation">
			<source src="images/people.mp4" type="video/webm">
			<source src="images/people.mp4" type="video/mp4">
		</video>
		<!-- <div class="row" id="home_logo">
			<a ng-href="#!/home"><img  src="images/evewhytelogo_spaced.png" class="img-responsive center-block" /></a>
		</div> -->
	</div>
</div>
<div ng-include="'partials/lan.html'"></div>