<nav class="navbar-wrapper navbar-default navbar-fixed-top navbar-inverted " role="navigation">
	<div class="" style="width: 100%;">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"> <img class="img-responsive"  src="images/logo.png" alt="Eventstone" /> <!-- <span class="uofs-icon uofs-icon-home pull-left"> --> </span> </a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left"></ul>
			<ul class="nav navbar-nav navbar-right">
				<li style="">
					<a type="" ng-href="#/populate" class=" "> <span class="uofs-icon uofs-icon-plus"> </span> Manage Guests</a>
				</li>
				<li style="">
					<a type="" ng-href="#/guestList" class=""> <span class="uofs-icon uofs-icon-user"> </span> View Guests</a>
				</li>
				<li style="">
					<a type="" ng-href="#/tickets" class=""> <span class="uofs-icon uofs-icon-pages"> </span> Design Tickets</a>
				</li>
				<li style="">
					<a type="" ng-href="#/nameBadge" class="" > <span class="uofs-icon uofs-icon-frame"> </span> Design Name Badges</a>
				</li>
				<li style="">
					<a type="" ng-href="#/live" class=""  style="padding-right: 40%;"> <span class="uofs-icon uofs-icon-checkmark"> </span> Go</a>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>