<div class=" affix" data-spy="affix">
	<ul class="nav nav-tabs  ">
		<div class="dropdown" style="background: rgba(255, 255, 255, 0.9); z-index: 1000000000;" >
			<button class="btn btn-primary dropdown-toggle btn-xs" type="button" data-toggle="dropdown" ng-click="downD = !downD">
				<i class="uofs-icon uofs-icon-back" ng-show="downD"></i><i ng-show="!downD" class="uofs-icon uofs-icon-forward"></i>
			</button>
			<span ng-show="true" class=" animated rollIn" >  <a  ng-href="#/home"> Home</a> | <a  ng-href="#/populate">Manage Guests</a> 
			| <a  ng-href="#/tickets">Design Ticket</a> | <a ng-href="#/nameBadge">Design Badge</a> 
			| <a ng-href="#/guestList">Guest List</a> | <a ng-href="#/live">Go Live</a>  |</span>
			<!-- <ul class=" row animated slideInDown " style="background-color: rgba(255, 255, 255, 0.3);">
			<li>
			<a  ng-href="#/home">Home</a>
			</li>
			<li>
			<a  ng-href="#/tickets">Design Ticket</a>
			</li>
			<li>
			<a  ng-href="#/populate">Manage Guests</a>
			</li>
			<li>
			<a ng-href="#/guestList">Guest List</a>
			</li>
			<li>
			<a ng-href="#/nameBadge">Design Badge</a>
			</li>
			<li>
			<a ng-href="#/live">Go Live</a>
			</li>
			</ul> -->
		</div>
	</ul>
</div>
