<div id="" class="navHome">
	<a class="" href="#" data-toggle="tooltip" title="Go Home" > <i class="glyphicon glyphicon-home"></i>
</div>
<div id="" class="navGList">
	<a type="" ng-href="#/guestList" class="" data-toggle="tooltip" title="View Guest list" > <span class="glyphicon glyphicon-list-alt"> </span> </a>
</div>
<div  class="navHelp">
	<a class="" ng-href="#/aboutparty" data-toggle="tooltip" title="Go to help page" > <i class="glyphicon glyphicon-info-sign"></i> </a>
</div>
<div  class="navLive">
	<a type="" ng-href="#/live" class="" ng-click="hide_logo=true;"  data-toggle="tooltip" title="Go live with you event" > <span class="glyphicon glyphicon-play"> </span> </a>
</div>
<div  class="navDashboard">
	<a type="" ng-href="#/dashboard" class="" ng-click="hide_logo=true;"  data-toggle="tooltip" title="Dashboard to see all your events" > <span class="fa fa-tachometer"> </span> </a>
</div>
<div  class="navlogin">

	<a type="" ng-href="#/login" style="color: #E294A9"  data-toggle="tooltip" title="Login/Logout"><img src="{{$storage.user.signInUser.photoURL}}" width="50px" class="img-circle img-responsive"/> <span class=""> </span> </a>
	<!--
	<br />
	<a type="" ng-href="#/login" style="color: #E294A9"  data-toggle="tooltip" title="Login">{{$storage.user.signInUser.displayName}} <span class=""> </span> </a> -->
</div>
