<div id="" class="navTopLeft">
	<a class="" href="#"> <i class="uofs-icon uofs-icon-home "></i>
</div>
<div id="" class=" navBottmRight">
	<a type="" ng-href="#/guestList" class=""> <span class="uofs-icon uofs-icon-library"> </span> </a>
</div>
<div  class="navBottomLeft">
	<a class="" ng-href="#/aboutparty" > <i class="uofs-icon uofs-icon-help"></i> </a>
</div>
<div  class="navTopRight">
	<a type="" ng-href="#/live" class="" ng-click="hide_logo=true;"  > <span class="uofs-icon uofs-icon-group"> </span> </a>
</div>
