<section class="guestinfo uofs-section container-fluid animated slideInDown">
	<br />
	<div class="back_div pull-left ">
		<!-- <a ng-href="#/home">&laquo; Home</a> -->
		<a type="button" class="btn btn-default btn-xs" ng-href="#/home">&laquo; Home</a>
	</div>
	<div class="pull-right">
		<a type="button" class="btn btn-default btn-xs" ng-href="#/live"> Start Event &raquo;</a>
	</div>
	<h1 class="text-center uofs-page-title"><a>Create Guest List</a></h1>
	<div class="btn-group center-block row text-center" data-toggle="buttons" style="padding-bottom: 2%; padding-top: 1%;">
		<label class="btn btn-primary col-md-3 pull-left" ng-click="$storage.addWithName=true;$storage.addWithNum=false;" >
			<input type="radio" name="options" id="option1">
			By Guest Name </label>
		<label class="col-md-1"></label>
		<label class="btn btn-primary col-md-3 pull-left" ng-click="$storage.addWithNum=true;$storage.addWithName=false;">
			<input type="radio" name="options" id="option3">
			By ticket Number </label>
		<label class="col-md-3"></label>
		<div class="back_div center-block col-md-2 pull-right">
			<a type="button" class="btn btn-default" ng-href="#/tickets">Generate Tickets</a>
		</div>
	</div>
	<div class="addWithName  animated slideInDown" ng-show="$storage.addWithName">
		<div class="row dataFieldContainer center-block  text-center">
			<textarea ng-model="dataField" placeholder="Enter the names or NSIDs of guests seperated with comma and click 'Add Guests'" 
		class="dataField form-control" type="textarea" style="height: 250px !important; "></textarea>
		</div>
		<div class=" populate_div  panel panel-default" data-toggle="buttons" style="padding-bottom: 2%;">
			<div class="panel-body">
				<div class="pull-right">
					<button ng-model="btnText" type="button" ng-show="dataField.length >=1"
					class="btn btn-primary checkInBtn " ng-click="submitUserInput(dataField);dataField = '' ">
						{{listBtnText}}
					</button>
					<button ng-model="btnText" type="button" ng-show="dataField.length >=1"
					class="btn btn-primary btn-xs" ng-click="clearField(dataField); dataField = ' ' ">
						Clear Field
					</button>
					<button ng-model="btnText" type="button"
					class="btn btn-primary " ng-click="randomName()">
						Random Name
					</button>
				</div>
				<div class="pull-left" style="width: 50%;">
					<h4 class="pull-left"> &#926; You've added {{$storage.guestsList.length-2}} Guests &#926;</h4>
					<a class="pull-right"  ng-href="#/guestList" ng-show="$storage.guestsList.length-2>0">
					<button type="button" class="btn btn-success checkInBtn  ">
						View Guests
					</button> </a>

				</div>
			</div>
		</div>

	</div>
	<div class="addWithNum  animated slideInDown" ng-show="$storage.addWithNum">
		<div class="row dataFieldContainer center-block  text-center">
			<textarea ng-model="dataFieldNum" placeholder="Select options below and click 'Generate Number'. Numbers will show up here" 
		class="dataField form-control" type="textarea" style="height: 250px !important; "></textarea>
		</div>
		<div class=" populate_div  panel panel-default" data-toggle="buttons" style="padding-bottom: 2%;">
			<div class="panel-body">
				<div class=" center-block col-xs-12">
					<form role="form">
						<br />
						<div class="form-group col-md-3 text-center center-block">
							<label >Generate Numbers</label>
							Randomly? &nbsp; &nbsp;
							<input  type="checkbox" ng-model="$storage.rand"
							ng-click="$storage.rand=true;$storage.seq=false;" />
							{{$storage.rand}}
							<br />
							Sequentially? &nbsp; &nbsp;
							<input type="checkbox" ng-model="$storage.seq"
							ng-click="$storage.rand=false;$storage.seq=true;"/>
							{{$storage.seq}}
						</div>
						<!-- <div class="form-group col-md-3 text-center">
						<label >Ticket Start Number</label>
						<input class="form-control"  placeholder="Number" type="text"
						ng-model="$storage.startNumber">
						</div> -->
						<div class="form-group col-md-3 text-center">
							<label >Number of digits </label>
							<input class="form-control"  placeholder="eg. 6 to get AXB105" type="text"
							ng-model="$storage.ticketDigits">
						</div>
						<div class="form-group col-md-3 text-center">
							<label >Total Tickets to generate</label>
							<input class="form-control"  placeholder="The total number of tickets, one per expected guest" type="text"
							ng-model="$storage.totalTickets">
						</div>
						<div class="form-group col-md-3 col-xs-3 text-center">
							<label >Prefix</label>
							<input class="form-control"  placeholder="eg. ABC or XYZ" type="text"
							ng-model="$storage.prefix">
						</div>
					</form>
					<!-- <button ng-click="ran()" >Click Me <br /> {{rand}}</button> -->
				</div>
				<div class="pull-right">
					<button ng-model="btnText" type="button" ng-show="dataFieldNum.length >=1"
					class="btn btn-primary " ng-click="submitUserInput(dataFieldNum);dataFieldNum = '' ">
						Add Guests
					</button>
					<button ng-model="btnText" type="button" ng-show="dataFieldNum.length >=1"
					class="btn btn-primary btn-xs" ng-click="clearField(dataFieldNum); dataFieldNum = '' ">
						Clear Field
					</button>
					<button ng-model="btnText" type="button"
					class="btn btn-primary checkInBtn " ng-click="generateTicketNums(); ">
						Generate Number
					</button>
				</div>
				<div class="pull-left" style="width: 50%;">
					<h4 class="pull-left"> &#926; You've added {{$storage.guestsList.length-2}} Guests &#926;</h4>
					<a class="pull-right"  ng-href="#/guestList" ng-show="$storage.guestsList.length-2>0">
					<button type="button" class="btn btn-success checkInBtn  ">
						View Guests
					</button> </a>

				</div>
			</div>
		</div>

	</div>

	<div>
		<!-- {{$storage.x}} -->
		<!-- <p >{{dateString()}}</p> -->

		<button ng-hide="true" ng-click="$storage.$reset({ })">
			Clear localStorage
		</button>
	</div>
	<div class="pull-left">
		<a type="button" class="btn btn-primary  btn-xs "  ng-href="#/tickets">&laquo; Create Tickets </a>
	</div>
	<div class="pull-right">
		<a type="button" class="btn btn-primary  btn-xs " ng-click="backUpBtn()">{{backUpTxt()}} &raquo;</a>
	</div>
	<div class="clearfix ">
		<div ng-show="backUp" class="row ">
			<hr />
			<div class="col-xs-4 col-md-4">
				<p>
					This is your guest list from the last time you removed all guests from Eventstone.
				</p>
				<p>
					You currently have {{$storage.guestsList.length-2}} guests in your guest list.
				</p>
				<p>
					There are {{$storage.backUpGuestList.length}} guests in the back up list.
				</p>
				<p ng-show="$storage.guestsList.length != $storage.backUpGuestList.length">
					<span ng-show="popolateReplace"> You can restore from from this back up.
						<button type="button" class="btn btn-primary btn-xs " ng-click="replacePop()">
							Restore
						</button></span>
					<span ng-show="!popolateReplace">This would remove all current guests. Are you sure?
						<button type="button" class="btn btn-primary btn-xs " ng-click="replacePop(); restoreFromBackUp()">
							Yes. Replace guests.
						</button></span>
				</p>
			</div>
			<div class="col-xs-1 col-md-1" ></div>
			<ul class="guestlist col-xs-7 col-md-7 ">
				<div class="text-center row" >
					<div class="col-xs-4 col-md-4">
						<h3>S/N</h3>
					</div>
					<div class="col-xs-8 col-md-8">
						<h3>Name</h3>
					</div>
				</div>
				<li class="guest cf row" ng-repeat="item in $storage.backUpGuestList | filter: guestSearch | orderBy: guestOrder:direction"
				>
					<a >
					<div class="info">
						<div class="row">
							<div class="col-xs-4 col-md-4">
								<a ng-click="removeElement($storage.backUpGuestList, $storage.backUpGuestList.indexOf(item))"> <i type="button" class="close pull-left" aria-hidden="true" >{{item.icon}}</i></a>
								<span class=" text-center">{{$index+1}}</span>
							</div>
							<div class="col-xs-8 col-md-8">
								<h4>{{item.name}}</h4>
							</div>
						</div>
					</div> </a>
				</li>
			</ul>
		</div>
	</div>
</section>

