<div class="col-md-6 col-md-offset-3">
	<h2>Register</h2>
	<form name="form" ng-submit="vm.register()" role="form">
		<div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
			<label for="username">First name</label>
			<input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
			<span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
			<label for="username">Last name</label>
			<input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.lastName" required />
			<span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
			<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
			<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
		</div>
		<div class="form-actions">
			<button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">
				Register
			</button>
			<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			<a href="#!/login" class="btn btn-link">Cancel</a>
		</div>
	</form>
</div>

<!-- Old Badge -->

<div class="badeContainer">
	<div class="row nameBadge center-block text-center" ng-attr-style="{{previewStyle()}}">
		<div class=" badgeRow1" style="text-align: left;">
			<div class=" " ng-show="toUpload">
				<img ng-src="{{picFile | ngfDataUrl}}" width="40%" class=""/>
			</div>
		</div>
		<div class="col-md-12 col-lg-12 col-xs-12 badgeRow2  text-center center-block">
			<span class="badgeGName">{{$storage.guestsList[$storage.guestsList.length-1][0]}}</span>
			<br />
			<span class="">{{guestRole}}</span>
		</div>
		<div class="col-md-12 col-lg-12 col-xs-12 badgeRow3 center-block" style="padding-top: 5px;">
			<div class="  row" >
				<div class="col-md-3 col-lg-3 col-xs-3 sponsorLogo " ng-show="toUpload"></div>
				<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload">
					<img ng-src="{{image1 | ngfDataUrl}}" width="100%" class=""/>
				</div>
				<div class="col-md-2 col-lg-2 col-xs-2  sponsorLogo " ng-show="toUpload">
					<img ng-src="{{image2 | ngfDataUrl}}" width="100%" class=""/>
				</div>
				<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload">
					<img ng-src="{{image3 | ngfDataUrl}}" width="100%" class=""/>
				</div>
				<div class="col-md-2 col-lg-2 col-xs-2sponsorLogo " ng-show="toUpload">
					<img ng-src="{{image4 | ngfDataUrl}}" width="100%" class=""/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="badeContainer">
	<div class="row nameBadge center-block text-center" ng-attr-style="{{previewStyle()}}">
		<div class=" badgeRow1" style="text-align: left;">
			<div class=" " ng-show="toUpload">
				<img ng-src="{{picFile | ngfDataUrl}}" width="40%" class=""/>
			</div>
		</div>
		<div class="col-md-12 col-lg-12 col-xs-12 badgeRow2  text-center center-block">
			<span class="badgeGName">{{$storage.guestsList[$storage.guestsList.length-1][0]}}</span>
			<br />
			<span class="">{{guestRole}}</span>
		</div>
		<div class="col-md-12 col-lg-12 col-xs-12 badgeRow3 center-block" style="padding-top: 5px;">
			<div class="  row" >
				<div class="col-md-3 col-lg-3 col-xs-3 sponsorLogo " ng-show="toUpload"></div>
				<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload">
					<img ng-src="{{image1 | ngfDataUrl}}" width="100%" class=""/>
				</div>
				<div class="col-md-2 col-lg-2 col-xs-2  sponsorLogo " ng-show="toUpload">
					<img ng-src="{{image2 | ngfDataUrl}}" width="100%" class=""/>
				</div>
				<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload">
					<img ng-src="{{image3 | ngfDataUrl}}" width="100%" class=""/>
				</div>
				<div class="col-md-2 col-lg-2 col-xs-2sponsorLogo " ng-show="toUpload">
					<img ng-src="{{image4 | ngfDataUrl}}" width="100%" class=""/>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Old badge preview -->

<div class=" tab-pane active center-block text-center backNFront" id="layout1" >
	<div class="badeContainer nameBadgePrinting">
		<div class="row nameBadge center-block text-center" ng-attr-style="{{previewStyle()}}">
			<div class=" badgeRow1" style="text-align: left;">
				<div class=" " ng-show="toUpload">
					<img ng-src="{{picFile | ngfDataUrl}}" width="40%" class="img-responsive"/>
				</div>
			</div>
			<br />
			<div class="col-md-12 col-lg-12 col-xs-12 badgeRow2  text-center center-block">
				<span class="badgeGName">{{item[0]}}</span>
				<br />
				<span class="">{{guestRole}}</span>
			</div>
			<div class="col-md-12 col-lg-12 col-xs-12 badgeRow3 center-block" style="padding-top: 5px;">
				<div class="  row" >
					<div class="col-md-3 col-lg-3 col-xs-3 sponsorLogo " ng-show="toUpload" style="width: 25%">
						<span style="width: 100%;color: white"></span>
					</div>
					<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
						<img ng-src="{{image1 | ngfDataUrl}}" class="img-responsive barcodeIMG"/>
					</div>
					<div class="col-md-2 col-lg-2 col-xs-2  sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
						<img ng-src="{{image2 | ngfDataUrl}}"  class="img-responsive barcodeIMG"/>
					</div>
					<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
						<img ng-src="{{image3 | ngfDataUrl}}"  class="img-responsive barcodeIMG"/>
					</div>
					<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
						<img ng-src="{{image4 | ngfDataUrl}}" class="img-responsive barcodeIMG"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Badge back -->
	<div class="badgeBack">
		<div class="badeContainer nameBadgePrinting">
			<div class="row nameBadge center-block text-center " ng-attr-style="{{previewStyle()}}">
				<div class=" badgeRow1" style="text-align: left;">
					<div class=" " ng-show="toUpload">
						<img ng-src="{{picFile | ngfDataUrl}}" width="40%" class="img-responsive"/>
					</div>
				</div>
				<br />
				<div class="col-md-12 col-lg-12 col-xs-12 badgeRow2  text-center center-block">
					<span class="badgeGName">{{item[0]}}</span>
					<br />
					<span class="">{{guestRole}}</span>
				</div>
				<div class="col-md-12 col-lg-12 col-xs-12 badgeRow3 center-block" style="padding-top: 5px;">
					<div class="  row" >
						<div class="col-md-3 col-lg-3 col-xs-3 sponsorLogo " ng-show="toUpload" style="width: 25%">
							<span style="width: 100%;color: white"></span>
						</div>
						<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
							<img ng-src="{{image1 | ngfDataUrl}}" class="img-responsive barcodeIMG"/>
						</div>
						<div class="col-md-2 col-lg-2 col-xs-2  sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
							<img ng-src="{{image2 | ngfDataUrl}}"  class="img-responsive barcodeIMG"/>
						</div>
						<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
							<img ng-src="{{image3 | ngfDataUrl}}"  class="img-responsive barcodeIMG"/>
						</div>
						<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
							<img ng-src="{{image4 | ngfDataUrl}}" class="img-responsive barcodeIMG"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>