<section class="portfolioPage animated slideInRight " id="">
	<div class="row  panel panel-default" id="">
		<div class="panel-body">
			<div class="panel panel-default">
				<div class="panel-body text-center center-block portfolioPageAlt">
					<h1 class="">ON FARM</h1>
					<p class="projectIntro">
						Our motivation for creating Onfarm is to make the seed selection process easier, faster,
						and more flexbible for Farmers. Each year, farmers have to select crop varieties that they will plant.
						<br />
						This can be a tedious process. Our goal is to simplify the process while also allowing
						farmers to get feedback about crops from their peers.
						<br />
						For this project, I worked with <a href="https://www.facebook.com/zoe.maoxiaoyi" target="_blank" >Zoe Mao</a>
						and <a href="https://www.linkedin.com/in/coreyhickson" target="_blank" >Corey Hickson</a>. For Onfarm, we won
						the <strong>Rookie Award</strong>, the award for the best young team. <img ng-src="images/portfolio/onfarm/award.jpg"  width="30%" class="center-block text-center" />
					</p>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body text-justify center-block">
					<h1 class="text-center">MY ROLE</h1>
					<img ng-src="images/portfolio/onfarm/on_farm.png"  width="60%" class="center-block text-center" />
					<br />
					<div class="portfolioTexts">
						<p>
							Onfarm is a project we designed for the <a href="http://www.emergingagriculture.com/" target="_blank">2016 Emerging Agriculture Hackathon</a>  in Saskatoon, Canada.
							My role involved making sense of the data from a JSON file and displaying this data in a meaningful way in a UI
							that I designed.  I also designed the user experience and flow for all the pages in th app.
						</p>
						<h3 >Experience Strategy and Vision</h3>
						<p>
							I partnered with Corey and Zoe to come up with the idea and define the goals for Onfarm. The original idea
							we wanted to work on was making  the Saskatchewan Seed Guide into a webapp. After talking to some farmers,
							we decided that doing that was not worth the time we would invest in the project since farmers only used the Seed Guide only
							a few times each year. We then decided to make Onfarm, a Social Network for farmers.
						</p>
						<h3 >Planning</h3>
						<p>
							Before we designed Onfarm, we had no prior farming experience. I did not know anything about
							how farmers selected the seeds they plannted or the variety of seeds that existed.
							We spent a lot of time talking to farmers who were present in the hackathon.
						</p>
						<img ng-src="images/portfolio/onfarm/group.jpg"  width="60%" class="center-block text-center" />
						<p class="text-center center-block">
							The Onfarm Team
							<br />
							L-R: Uchi, Corey and Zoe
						</p>
						<h3 >Design and Execution</h3>
						<p>
							We got a lot of invaluable insights from, Danny, an experienced farmer we met at the Hackathon.
							One thing we learned was that the Sask Seed Guide, a 108 page book and PDF document, which we originally wanted to
							make into a webapp was only used once or twice a year. By talking with Danny, we also learned that
							farmers were always willing to help each other
							and were mostly truthful when talking about how well or poorly a particular seed variety did for them.
						</p>
						<p>
							This insight inspired us to come up with Onfarm, the seed selection forum and social network for farmers.
						</p>
						<h3 >Testing</h3>
						<p>
							Onfarm has been tested on most modern browsers. Initially, it broke on Google Chrome on OSX but I was able to fix it.
						</p>
						<img ng-src="images/portfolio/onfarm/on_farm_add.png"  width="60%" class="center-block text-center" />
						<p class="text-center center-block">
							Add Review Screen. I priotized simplicity in this design page
						</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body text-center portfolioPageAlt">
					<h1 class="text-center">THE CHALLENGE</h1>
					<div class="portfolioTexts">
						<strong>
						<p >
							Our biggest challenge was time. We had only a few hours within one weekend to make
							something that worked as a proof of concept. Since I was responsible for implementing
							the funtionalities and UI, I spent all night working on Onfarm and I am happy I did.
						</p></strong>
						<p>
							As a team, we did not have any farming background. We were able to get some useful
							advice from other people who had farming experience.
						</p>
						<p>
							We also faced technical challenges while presenting the Idea and the Demo. We were unable
							to show the app because my laptop could not connect to the Projector. The lesson I learned was
							that I should try out the equipments well in advance before my presentation.
						</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body text-justify center-block">
					<h1 class="text-center">SOLUTIONS AND RESULTS</h1>
					<div class="portfolioTexts">
						<h3 >User Feedback is always the best feedback.</h3>
						<p>
							The making of Onfarm is one of my more interesting experiences. Despite the fact that we
							were unable to show a demo during our presentation, we still won an award for Onfarm. Planning
							for the development of a full featured Onfarm is underway and Onfarm is scheduled to be lunched
							in October, 2016.
						</p>
						<a href="http://uchi.me/onfarm" target="_blank"><h4 >Go try it out</h4></a>
						<h3 >Results</h3>
						<img ng-src="images/portfolio/onfarm/award.jpg"  width="60%" class="center-block text-center" />
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body text-center portfolioPageAlt">
					<h1 class="text-center">ONFARM HOMEPAGE</h1>
					<img ng-src="images/portfolio/onfarm/on_farm_view.png"  width="60%" class="center-block text-center" />
				</div>
			</div>
		</div>
	</div>
</section>

