<div class="b1Tag" style="text-align: center">
	<div class="b1Outer" ng-attr-style="{{previewStyle()}}">
		<div class="b1Header">
			<p>
				{{$storage.eventName}}
			</p>
		</div>
		<div class="b1Main" ng-attr-style="{{previewStyleInverse()}}">
			<content class="name">
				{{$storage.guestsList[0][$storage.options.badge.fNameCol -1]}}  {{$storage.guestsList[0][$storage.options.badge.lNameCol -1]}}
			</content>
			<br />
			<content class="role">
				{{$storage.guestsList[0][$storage.options.badge.titleCol -1]}}
			</content>
			<br />
			<content class="company">
				{{$storage.guestsList[0][$storage.options.badge.companyCol -1]}}
			</content>
		</div>
		<footer>
			{{$storage.options.badge.firstTxt}}
			<br>
			{{$storage.options.badge.secondTxt}}
		</footer>
	</div>
</div>