<center id="b1TagPreview" ng-repeat="guest in $storage.guestsList" style="display: inline;padding-bottom: 0in;">
	<div class="b2Tag text-center center-block text-center"  ng-attr-style="{{previewStyleInverse()}}">
		<div class="B2Hello"  ng-attr-style="{{previewStyleInverse()}}">
			HELLO
		</div>
		<div class="b2Header"  ng-attr-style="{{previewStyleInverse()}}">
			my name is
		</div>
		<p class="b2Name" ng-attr-style="{{previewStyle()}}">
			<br>
			{{guest[$storage.options.badge.fNameCol -1]}}  {{guest[$storage.options.badge.lNameCol -1]}}
		</p>
	</div>
</center>