<center>
	<div id="b3Tag" class="b3Tag text-center center-block"  ng-attr-style="{{previewStyleInverse()}}">
		<h1 ng-attr-style="{{previewStyle()}}"> {{$storage.guestsList[0][$storage.options.badge.fNameCol -1]}}</h1>
		<h2 ng-attr-style="{{previewStyleInverse()}}">{{$storage.guestsList[0][$storage.options.badge.titleCol -1]}}</h2>
		<p ng-attr-style="{{previewStyleInverse()}}">
			{{$storage.guestsList[0][$storage.options.badge.companyCol -1]}}
			 <!-- | {{$storage.guestsList[0][$storage.options.badge.companyCol -1]}} -->
		</p>
	</div>
</center>