<div class="center-block text-center" >
	<div class="pull-right "  style="padding-right: 30px;" >
		<button   type="button" class="btn btn-info  btn-lg"
		ng-click="printBadges()">
			<span class="glyphicon glyphicon-print"></span>
		</button>
	</div>
	<h2>{{$storage.eventName}}</h2>
	<div  class="text-center center-block">
		<p class="text-center">
			{{$storage.lan.nameBadge.totNum}}  {{$storage.user.print.BToPrint.length}}
		</p>
		<br />
		<span class="text-danger text-bold">{{$storage.lan.nameBadge.cAndI}}</span>
	</div>
	<div class="row ">
		<button   type="button" class="btn btn-default"  ng-click="printDoubleSided = !printDoubleSided"
		ng-hide="printDoubleSided">
			{{$storage.lan.nameBadge.dSided}}
		</button>
		<button   type="button" class="btn  btn-default" ng-click="printDoubleSided = !printDoubleSided"
		ng-hide="!printDoubleSided">
			{{$storage.lan.nameBadge.sSided}}
		</button>
	</div>
	<div id="printableBadge" class="text-center center-block">
		<h4  class="text-center center-block">{{$storage.eventName}}  {{$storage.lan.nameBadge.genAt}}  http://eventstion.io </h4>
		<div class="previewTickets  center-block text-center" style="width: 8.5in;">
			<div ng-include="$storage.user.styles.badgeFormats.preview[$storage.user.styles.selectedInd]"></div>
		</div>
	</div>
</div>