.ticket2Col1 {
	margin-bottom: 0px !important;
	font-family: 'Sanchez', 'Exo 2', 'Roboto Condensed', 'Candal', monospace, sans-serif !important;
	display: block !important;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
}
.ticket2Col2 {
	margin-bottom: 0px !important;
	display: block !important;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
}
.centerDiv2 {
	font-family: 'Sanchez', 'Exo 2', 'Roboto Condensed', 'Candal', monospace, sans-serif !important;
	width: 100% !important;
	padding-left: 50px;
}

.ticket2Title {
	font-size: 25 !important;
	font-weight: bold !important;
	border-style: solid !important;
}

.ticket2Venue, .ticket2Date {
	font-size: 15px;
	font-weight: bold !important;
	border-style: solid !important;
}
.ticket2P {
	font-size: 7px !important;
}

.securityEncoding {
	font-size: 7px !important;
	text-align: center;
	margin: 0px !important;
}

.ticket2GName {
	font-size: 12px;
	overflow: hidden !important;
}
.userInfo2 {
	font-size: 7px !important;
	margin: 0px !important;
	padding-left: 50px;
}

.barcodeIMG {
	margin: 0px !important;
}
.underline {
	border-bottom: thin solid #363942 !important;
	position: absolute;
	padding-left: 10px;
	width: 400px;
}
.ticket2Border {
	/*border-bottom: thin solid #363942 !important;
	border-top: thin solid #363942 !important;*/
}

.ticket2 {
	width: 6.5in !important;
	height: 2.125in !important;
	border-style: solid;
	border: thin dashed red;
	font-family: 'Sanchez', 'Exo 2', 'Roboto Condensed', 'Candal', monospace, sans-serif !important;
	color: #191970;
	text-align: center;
	padding-top: 7px;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
	page-break-inside: avoid !important;
}

