<div class="modal fade" id="contactModal" role="dialog">
	<div class="modal-dialog  modal-md">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title">Contact</h4>
			</div>
			<div class="modal-body">
				<h3>BVB Fotography</h3>
				<p>
					3910 Retallack Street, Regina, SK
				</p>
				<p>
					Email: <a href="mailto:bvbfotography@gmail.com?subject=Website%20Contact"> bvbfotography@gmail.com</a>
				</p>
				<p >
					Phone: 3065004163
				</p>

				<p>
					Some text in the modal.
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>

	</div>
</div>