<div id="fixedFooter" class="row text-center pull-right">
	<span class="ct"> 3065004163</span>
	<a class="bordered" target="_blank" href="https://www.linkedin.com/in/uchibeke/"> <span class="fa fa-500px"></span> </a>
	<a class="bordered" target="_blank" href="https://instagram.com/uchi___/"> <span class="fa fa-instagram"></span> </a>
	<a class=" bordered" target="_blank" href="https://www.facebook.com/uchibeke/"> <span class="fa fa-facebook"></span> </a>
	<a class="bordered" target="_blank" href="https://twitter.com/Ugobame/"> <span class="fa fa-twitter"></span> </a>
	<span class="ct"> bvbfotography@gmail.com</span>
</div>
