<section class="jumbotron  text-center  animated  zoomIn" data-lastmodifiedby="uchi"
style="position:fixed;top:0;left:0;right:0;bottom:0;height:100%;overflow: hidden;" id="homeBg">
	<div style="opacity: 1;"  class="container-fluid" >
		<div id="homeBtnDiv">
			<h2 id="homeCompName">{{texts.homeWelcome.en}}
			<br />
			{{texts.homeWelcome.ch}} </h2>
			<a  type="button" class="btn filled btn-lg"  ng-href="#!/animation" onclick="gotoRight('galDiv')">{{texts.enter.en}}
			<br />
			{{texts.enter.ch}} </a>
		</div>
	</div>
</section>
<!-- Inspiration for sliding image: Daniel: http://www.vandelaydesign.com/best-photographer-portfolio-websites/ -->
