<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div id="" class="row text-center nav-wrapper">
			<a class="pull-left nav-l"  ng-href="#!/home"> <i class="glyphicon glyphicon-home " aria-hidden="true"></i> </a>
			<!-- <a class="pull-left nav-l"  ng-href="#!/photoLifestyle"> <span class=""></span> Lifestyle</a> -->
			<a   ng-href="#!/animation" id="contactBtn"  ng-click="togglePlay('galDiv', true);"> <i class="glyphicon glyphicon-play" ng-show="musicPaused"></i><i class="fa fa-circle-o-notch fa-spin" ng-show="!musicPaused"></i></a>
			<a class="pull-right nav-r"  ng-click="goToPage('/about')" href=""> <i class="glyphicon glyphicon-picture "></i></a>
		</div>
</nav>
<div ng-include="'views/contact.html'" ></div>

