<section class="container-fluid" id="">
  <p class="text-left" style="font-size: 1.2em; line-height:1.5">
    Uchi Uchibeke is the Founder of NaijaHacks, Nigeria's biggest tech invention
    competition. He pioneered a Blockchain Client Identity Management Ecosystem
    at the Royal Bank of Canada (RBC) and a Blockchain access control Ecosystem
    for big data security which is published in an Institute of Electrical and
    Electronics Engineers (IEEE) paper.
    <br>
    <br>
    Uchi's work is inspired by his
    experience growing up in Nigeria and his desire to inspire the next
    generation of Nigerians to be leaders, makers, and disruptors. Uchi
    currently works as a Software Developer at Shopify.
  </p>
</section>
