<section class="container-fluid" id="">
    <p class="text-left">
        Hi, I’m Uchi (Nick). I am currently a Blockchain Sofware Developer Intern at RBC. I’m also a Computer Science and
        Design student in the Interactive Systems Design program at the <a class=" seeDetails extern_link"
        href="https://usask.ca/"
        target="_blank">UofS</a>.
        I am working towards becoming a Blockchain and Machine Learning Developer and I am also exploring digital product
        development, and Business strategy.
        <br/>
        <br/>
        My most recent project is <a class="seeDetails extern_link" href="http://calcreator.me/#!/info"
        target="_blank">calCreator</a>,
        and end to end customer satisfaction raiser made for the chinese market which integrates seemlessly
        with wechat.
    </p>
</section>
