<section class="portfolioPage " id="">
    <!-- <a href="javascript:void(0);" ng-click="go_back()" class="seeDetails "> <i class="material-icons previousPageBtn">&#xE408;</i></a> -->
    <div class="panel panel-default">
        <div class="panel-body text-justify center-block portfolioPageMain">
            <div class="aboutTexts ">
                <p class="text-left">
                    Hi, I’m Uchi. I am currently a Sofware Developer Intern at IBM. I’m also a Computer Science and
                    Design student in the Interactive Systems Design program at the <a class=" seeDetails extern_link"
                                                                                       href="https://usask.ca/"
                                                                                       target="_blank">UofS</a>.
                    I am working towards specializing in virtual reality (VR) experience design (VR UX), digital product
                    development, and Business strategy.
                    <br/>
                    <br/>
                    My most recent project is <a class="seeDetails extern_link" href="http://calcreator.me/#!/info"
                                                 target="_blank">calCreator</a>,
                    and end to end customer satisfaction raiser made for the chinese market which integrates seemlessly
                    with wechat.
                </p>
            </div>
        </div>
    </div>
</section>
