<input type="checkbox" name="toggle" id="toggle" />
<label for="toggle" class="btn btn-md"></label>
<a ng-href="#/porfolio/" class="btn btn-md pull-right" style="margin-top: 18px;background: #313649;color: #FFF !important;">porfolio</a>
<section class="portfolioPage blog" id="blog">
  <div class="">
    <br>
    <div class="section-content" id="blogContent">
      <div class="row" id="jsonContent"></div>
    </div>
    <!-- /#blogContent-->
    <div class="text-center"><a class="btn btn-dark" target="_blank" href="https://medium.com/@uchi">View on medium<span class="fa fa-angle-double-right"></span></a></div>
  </div>
  <!-- /.container-->
</section>


<div ng-include="'views/footer.html'"></div>

<div class="message">
  <div ng-include="'views/about.html'"></div>
</div>