<div class="footerDiv " style="padding-left: 0; padding-right: 0;">
	<h4><a class="extern_link seeDetails" target="_blank" href="https://instagram.com/uchi___/">Instagram</a></h4>
	<h4><a class="extern_link seeDetails" target="_blank" href="https://www.facebook.com/uchibeke/">Facebook</a></h4>
	<h4><a class="extern_link seeDetails" target="_blank" href="https://www.linkedin.com/in/uchibeke/">LinkedIn</a></h4>
	<h4><a class="extern_link seeDetails" target="_blank" href="https://twitter.com/Ugobame/">Twitter</a></h4>
	<h4><a class="extern_link seeDetails" href="mailto:uchi.u@icloud.com">Email</a></h4>
	<br />
</div>
