<div class="footerDiv " style="padding-left: 0; padding-right: 0;" ng-controller="ListController">
	<h4><a class="extern_link seeDetails" href="mailto:uchi4jah@gmail.com">Email</a></h4>
	<h4><a class="extern_link seeDetails" target="_blank" href="https://github.com/uchibeke/">Github</a></h4>
	<h4><a class="extern_link seeDetails" target="_blank" href="https://www.linkedin.com/in/nickku/">LinkedIn</a></h4>
	<h4><a class="extern_link seeDetails" target="_blank" href="https://www.facebook.com/uchibeke/">Facebook</a></h4>
	<h4><a class="extern_link seeDetails" target="_blank" href="https://www.messenger.com/t/uchibeke">Messenger</a></h4>
	<br />
	<p>
		<span id="copyright">
			<span title="Copyright">
				&copy;
			</span>
			<span>
				{{data.dateString()}} Uchi Nick Uchibeke
			</span>
		</span>
	</p>
</div>
