<input type="checkbox" name="toggle" id="toggle" />
<label for="toggle" class="btn btn-md" style="color: #FFF !important;"></label>

<a
  ng-href="#/blog/"
  class="btn btn-md pull-right"
  style="margin-top: 18px;background: #313649;color: #FFF !important;"
  >blog</a
>

<section
  class="portfolioPage row"
  ng-show="!data.loadedProj"
  style="min-height:100%"
>
  <div ng-show="!projectsHidden">
    <div class="main">
      <div class="wrapper">
        <h1 class="title responsivedesktop">
          <span class="knockout">
            <svg
              id="svgDesktop"
              class="knockout"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="100%"
              height="100%"
            >
              <mask id="text-clip1">
                <rect id="bg1" width="100%" height="100%" fill="white" />
                <text
                  id="rectWrap1"
                  y="100"
                  width="100%"
                  height="100%"
                  fill="#000"
                >
                  <tspan x="44" dy="0">Uchi Uchibeke</tspan>
                  <tspan
                    x="44"
                    dy="40"
                    style="font-size:0.5em;vertical-align:top"
                  >
                    Founder, Leader & Developer
                  </tspan>
                </text>
              </mask>
              <rect width="100%" height="100%" mask="url(#text-clip1)" />
            </svg>
          </span>
        </h1>
        <h1 class="title responsivetablet">
          <span class="knockout">
            <svg
              id="svgTablet"
              class="knockout__svg"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="100%"
              height="100%"
            >
              <mask id="text-clip2">
                <rect id="bg2" width="100%" height="100%" fill="white" />
                <text
                  id="rectWrap2"
                  y="60px"
                  width="100%"
                  height="100%"
                  fill="#000"
                >
                  <tspan x="44" dy="0">Uchi Uchibeke</tspan>
                  <tspan
                    x="44"
                    dy="40"
                    style="font-size:0.5em;vertical-align:top"
                  >
                    Founder, Leader & Developer
                  </tspan>
                </text>
              </mask>
              <rect width="100%" height="100%" mask="url(#text-clip2)" />
            </svg>
          </span>
        </h1>
        <h1 class="title responsivemobile">
          <span class="knockout">
            <svg
              id="svgMobile"
              class="knockout__svg"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="100%"
              height="100%"
            >
              <mask id="text-clip3">
                <rect id="bg3" width="100%" height="100%" fill="white" />
                <text
                  id="rectWrap3"
                  y="50px"
                  width="100%"
                  height="100%"
                  fill="#000"
                >
                  <tspan x="24" dy="0">Uchi Uchibeke</tspan>
                  <tspan
                    x="24"
                    dy="20"
                    style="font-size:0.4em;vertical-align:top"
                  >
                    Founder, Leader & Developer
                  </tspan>
                </text>
              </mask>
              <rect width="100%" height="100%" mask="url(#text-clip3)" />
            </svg>
          </span>
        </h1>
        <div class="content">
          <div class="innertext">The knockout text above is responsive.</div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-xs-12 col-sm-6 col-md-4"
    ng-repeat="proj in data.portfolioItems"
    ng-click="actions.selectProj($index);actions.scrollTo('body')"
    ng-show="projectsHidden"
  >
    <div class="card">
      <figure class="front">
        <img src="{{proj.pathToAssets + '/home.png'}}" alt="front" />
        <div class="caption">
          <h1>{{ proj.title }}</h1>
          <p>{{ proj.intro }}</p>
          <a>See details</a>
        </div>
      </figure>
    </div>
  </div>
</section>

<!--
  ////////////////////  ////////////////////  ////////////////////  ////////////////////  ////////////////////
-->
<!--
  ////////////////////  ////////////////////  ////////////////////  ////////////////////  ////////////////////
-->
<!--
  ////////////////////  ////////////////////  ////////////////////  ////////////////////  ////////////////////
-->

<section class="portfolioPage " id="" ng-show="data.loadedProj">
  <a
    class="btn btn-sm btn-default pull-left"
    href="#/portfolio"
    target="_self"
    style="background: #dd6149 !important;color: white !important"
  >
    projects
  </a>
  <h1 class="text-center center-block">{{ data.selectedProj.title }}</h1>
  <div class="panel panel-default">
    <div class="panel-body portfolioPageMain ">
      <div class="portfolioTexts">
        <p>
          {{ data.selectedProj.summary }}
          <a
            class="extern_link seeDetails"
            href="{{data.selectedProj.url}}"
            target="_blank"
          >
            try it out.</a
          >
        </p>
      </div>
      <img
        src="{{data.selectedProj.pathToAssets + '/main.png'}}"
        width="100%"
        class="center-block text-center"
      />
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body text-justify center-block portfolioPageAlt">
      <div class="portfolioTexts">
        <h3 class="">MY ROLE</h3>
        <p>{{ data.selectedProj.role }}</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body text-justify center-block portfolioPageMain ">
      <div class="portfolioTexts">
        <h3>Design and Execution</h3>
        <p>{{ data.selectedProj.exec }}</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body center-block portfolioPageAlt">
      <div class="portfolioTexts">
        <h3 class="">THE CHALLENGE</h3>
        <p>{{ data.selectedProj.challenge }}</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body center-block portfolioPageMain">
      <div class="portfolioTexts">
        <h3>Results</h3>
        <p>
          {{ data.selectedProj.result }}
          <a
            class="extern_link seeDetails"
            href="{{data.selectedProj.url}}"
            target="_blank"
          >
            try it out.</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<div ng-include="'views/footer.html'"></div>

<div class="message"><div ng-include="'views/about.html'"></div></div>
