<section class="text-center  " data-lastmodifiedby="uchi" id="">
    <div class=" projectDiv panel panel-default" id="project1" onclick="location.href='#/eventstone';">
        <div class="panel-body">
            <div class="col-sm-4  col-xs-12">
                <br/>
                <img class="img-responsive portfolioHomeImg" ng-src="images/portfolio/eventstone/home1.png"/>
            </div>
            <div class="col-sm-8 text-justify  col-xs-12">
                <h1 class="text-justify">Eventstone</h1>
                <p class="text-left">
                    I made Evenstone because I strongly believe that people should
                    be able to do something meaningful and unique with the limited resources they have.
                    <br/>
                    <a class="seeDetails">See details</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" projectDiv panel panel-default" id="project1" onclick="location.href='http://calcreator.me/#!/info';">
        <div class="panel-body">
            <div class="col-sm-4 col-xs-12">
                <br/>
                <img class="img-responsive portfolioHomeImg" ng-src="images/portfolio/calCreator/live.gif"/>
            </div>
            <div class="col-sm-8 text-justify  col-xs-12">
                <h1 class="text-justify">calCreator</h1>
                <p class="text-left">
                    I was commisioned with the task of building a tool that helps a
                    hotel and restuarant in China design, generate and print calendars for guests.
                    Calendars had to look lavish and include a photo of the guest,
                    process had to be simple and calendar had to fit different paper sizes. I designed
                    this tool and also an integration with wechat. Calendar has a qr code which when scanned
                    with wechat shows a unique wechat mini sit with the current deal the hotel is offering
                    <br/>
                    <a class="seeDetails extern_link" href="http://calcreator.me/#!/info" target="_blank">See
                        details</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" projectDiv panel panel-default" id="project1" onclick="location.href='#/onFarm';">
        <div class="panel-body">
            <div class="col-sm-4 col-xs-12">
                <br/>
                <br/>
                <br/>
                <br/>
                <img class="img-responsive portfolioHomeImg" ng-src="images/portfolio/onfarm/three_sizes2.png"/>
            </div>
            <div class="col-sm-8 text-justify  col-xs-12">
                <h1 class="text-justify">ONFARM</h1>
                <p class="text-left">
                    Farmers value firsthand feedback from their peers about crop varieties they wish to grow.
                    Inspired by the Sasktachewan Seed Guide, Onfarm aims to help farmers get direct feedback from their
                    peers in all parts of the world.
                    <br/>
                    <a class="seeDetails">See details</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" projectDiv panel panel-default" id="project1" onclick="location.href='#/tranxi';">
        <div class="panel-body">
            <div class="col-sm-4 col-xs-12">
                <br/>
                <img class="img-responsive portfolioHomeImg" ng-src="images/portfolio/tranxi/home1.png"/>
            </div>
            <div class="col-sm-8 text-justify  col-xs-12">
                <h1 class="text-justify">TRANXI</h1>
                <p class="text-left">
                    When I was a boy growing up in Nigeria, my father introduced me via a record to classical music.
                    I loved it, yet, I also loved Jungle Language, a cyphered language. Tranxi is inspired
                    by my experience and my desire to inspire others.
                    <br/>
                    <a class="seeDetails">See details</a>
                </p>
            </div>
        </div>
    </div>
    <!-- <div class=" projectDiv panel panel-default" id="project1"  >
        <div class="panel-body">
            <div class="col-sm-4 col-xs-12"></div>
            <div class="col-sm-8 text-justify  col-xs-12" >
                <p>
                    <br />
                    I have some projects that I just completed and others that are work in progess. I'll put them up when I am able to
                    make out time to write about the process of making them.
                </p>
            </div>
        </div>
    </div> -->
</section>
