<section class="text-center  " data-lastmodifiedby="uchi" id="">
	<!-- <br />
	<p class="text-center center-block homeIntro">
	Uchi is a Computer Science and Design Student based in Saskatoon, Canada.
	</p> -->
	<div class="row projectDiv panel panel-default" id="project1" onclick="location.href='#/eventstone';" >
		<div class="panel-body">
			<div class="col-sm-4  col-xs-12">
				<br />
				<img class="img-responsive portfolioHomeImg" ng-src="images/portfolio/eventstone/party1.png" />
			</div>
			<div class="col-sm-8 text-justify  col-xs-12" >
				<h1 class="text-justify">EVENTSTONE</h1>
				<p class="pull-left">
					I created Evenstone because I strongly believe that people should
					be able to do something meaningful and unique with the limited resources they have.
					<br />
					<a class="seeDetails">See details</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row projectDiv panel panel-default" id="project1" onclick="location.href='#/tranxi';" >
		<div class="panel-body">
			<div class="col-sm-4 col-xs-12">
				<br />
				<img class="img-responsive portfolioHomeImg" ng-src="images/portfolio/tranxi/home1.png" />
			</div>
			<div class="col-sm-8 text-justify  col-xs-12" >
				<h1 class="text-justify">TRANXI</h1>
				<p class="pull-left">
					When I was a boy growing up in Nigeria, my father introduced me via a record to classical music and meditation.
					He was happy I picked this up, however, he used to get mad at me to speaking in
					"Jungle Language", a language that we highschool kids discovered. Tranxi is inspired
					by my experience and my desire to help people create their own languages.
					<br />
					<a class="seeDetails">See details</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row projectDiv panel panel-default" id="project1" onclick="location.href='#/onFarm';" >
		<div class="panel-body">
			<div class="col-sm-4 col-xs-12">
				<br />
				<br />
				<br />
				<br />
				<img class="img-responsive portfolioHomeImg" ng-src="images/portfolio/onfarm/on_farm.png" />
			</div>
			<div class="col-sm-8 text-justify  col-xs-12" >
				<h1 class="text-justify">ONFARM</h1>
				<p class="pull-left">
					Farmers value firsthand feedback from their peers about crop varieties that their peers have tried. 
					The farmers we talked to value these feedbacks more than ratings in a
					Seed Guide published by a Corporation or by the Government. Onfarm is born from the feedback we
					got from farmers about the Sasktachewan Seed Guide.
					<br />
					<a class="seeDetails">See details</a>
				</p>
			</div>
		</div>
	</div>
</section>
