<section class="portfolioPage " id="">
	<div class="row  panel panel-default" id="">
		<div class="panel-body">
			<div class="panel panel-default">
				<div class="panel-body text-center center-block portfolioPageAlt">
					<h1 class="">EVENTSTONE</h1>
					<p class="projectIntro">
						I believe that people should be able to do something meaningful and unique with
						the limited resources that they have. I also believe that we should be able to restrict access to the information
						about the things we do, like the events we organize, and the people we do it with, like the guests who attend
						our events. That is one reason why I created Eventstone.
					</p>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body text-justify center-block">
					<h1 class="text-center">MY ROLE</h1>
					<img ng-src="images/portfolio/eventstone/home1.png" width="60%" class="center-block text-center" />
					<br />
					<div class="portfolioTexts">
						<p>
							Eventstone is an independent project. I worked on all the design and implementation.
							I, however, talked to a lot of prospective users to get their insight and then I tailored my focus to
							their need.
						</p>
						<h3 >Experience Strategy and Vision</h3>
						<p>
							I created frameworks and prototypes to test the vision, design principles and content strategy.
							This helped decide the features that were worth implementing and those that were not worthwhile.
						</p>
						<h3 >Planning</h3>
						<p>
							I defined the product by posing questions to event organizers.
							I focused on the user goals and balanced this with long term goals of Eventstone.
							I prioritised simplicity and storage of data in users local device. The data is stored in
							local storage.
						</p>
						<h3 >Design and Execution</h3>
						<p>
							I implemeted Eventstone for both mobile and desktop computers.
							I created wireframes, prototypes and design specs. This all started with simple
							white board sketches. Next, I did the coding. For the coding aspect of Eventstone,
							I planned out and designed algorithms that were efficient for the purposes that
							they serve. An example of this is the algorithm that formats names copied from multiple
							columns of an excel file into first and last name and adds them as elements, on at a time, to the
							guest list.
						</p>
						<h3 >Testing</h3>
						<p>
							As at January 8th, 2016, I have test run Eventstone at three events.
							Testing it with actual users was very beneficial to
							the design of Eventstone. I made refinements and added new features based on user feedback.

						</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body text-center portfolioPageAlt">
					<img ng-src="images/portfolio/eventstone/party1.png" width="60%" class="" style="border: thin solid  #313649;"/>
					<p>
						Ticket Design Screen
					</p>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body text-justify center-block">
					<h1 class="text-center">THE CHALLENGE</h1>
					<div class="portfolioTexts">
						<strong>
						<p >
							Provide a system that will  save peoples time, empower event organizers especially
							those organizing small events and protect the privacy of guests.
						</p></strong>
						<p>
							At events, I notice guests waiting in line to be checked in from a list on paper or, on rare occasions,
							a document on a computer. The process takes time and, I imagine, it must be stressful for some guests.
							This, as you might be aware, is also not enviroment-friendly.
						</p>
						<p>
							My passion for making things that solve my problems and
							the problems of my friends and also my other believes are the driving force for the creation of
							Eventstone
						</p>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body text-center portfolioPageAlt">
					<img ng-src="images/portfolio/eventstone/live11.png" width="60%" class="" style="border: thin solid  #313649;"/>
					<p>

					</p>
					<img ng-src="images/portfolio/eventstone/live22.png" width="60%" class="" style="border: thin solid  #313649;"/>
					<p>

					</p>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body text-justify center-block">
					<h1 class="text-center">SOLUTIONS AND RESULTS</h1>
					<div class="portfolioTexts">
						<h3 >User Feedback is always the best feedback.</h3>
						<p>
							When I first started designing Eventstone, I was missing a lot of details about the features that needs to be implemented
							like the ability to print out a name badge for a guest who is added to Eventstone  <i>during</i> the event or the ability
							to do the check-in <i>simulteneously</i>  on different devices. I learned about these key
							features by talking to Users.
						</p>
						<h3 >Results</h3>
						<p>
							Eventstone is currently being used in my university by student groups. I am looking forward to
							eventstone being used by more Universities around Canada.
						</p>
						<a href="http://uchi.me/eventstone" target="_blank"><h4 >Go try it out</h4></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

