<section class="portfolioPage " id="">
	<a href="javascript:void(0);" ng-click="go_back()" class="seeDetails "> <i class="material-icons previousPageBtn">&#xE408;</i></a>
	<div class="panel panel-default">
		<div class="panel-body  portfolioPageAlt">
			<h1 class="center-block text-center">TRANXI</h1>
			<p class="projectIntro">
				Tranxi is inspired by Jungle Language, a language we often resorted to as high
				school kids in Port harcourt, Nigeria, were I was born. We did this to conceal what we are talking about.
				<br />
				In the most basic sense of Jungle language, the vowels are mapped to numbers: a = 1, e = 2, i = 3, o = 4,
				and u = 5. Each of the consonants, on the other hand, remain as is, however, an 'a' is appended
				to each of them: B becomes Ba, C becomes Ca, D becomes Da, F becomes Fa ... and Z becomes Za.
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body text-justify center-block portfolioPageMain">
			<img ng-src="images/portfolio/tranxi/homeside.png" width="60%" class="center-block text-center" />
			<div class="portfolioTexts">
				<h1 class="">MY ROLE</h1>
				<p>
					Tranxi is an independent project. I worked on all the design and implementation.
					Because the inspiration for Tranxi was from personal experience, I drew knowledge
					from that experience in the implemenation of Tranxi.
				</p>
				<h3 >Experience Strategy and Vision</h3>
				<p>
					I designed an algorithm that takes user input (string), inserts it to a dynamic keyed dictionary,
					compares each element to a second dictonary using the key and then converts to a specified
					langauge. This is just an abstraction of what happens. There is more to it.
					However, the algorithm is efficient and translation happens instantly as the user types.
				</p>
				<h3 >Planning</h3>
				<p>
					I started by learning Angular JS because I thought that it will be the best framework
					to use for the implementation of Tranxi.
				</p>
				<h3 >Design and Execution</h3>
				<p>
					I and implemeted Tranxi by first focusing on the translation functionality.
					After I was sure everything worked great, I then focused on the UI.
				</p>
				<h3 >Testing</h3>
				<p>
					I tested Tranxi at in different versions of different modern browser and it works great.
					I have also tested it as a native app on android and it also works great. Tranxi is in the
					<a class="seeDetails extern_link" href="https://play.google.com/store/apps/details?id=com.uchibeke.tranxi" target="_blank">Google play store</a>
				</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body text-center portfolioPageAlt">
			<img ng-src="images/portfolio/tranxi/edit1.png" width="60%" class="" style="border: thin solid  #313649;"/>
			<p>
				Tranxi- Edit Language
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body  center-block portfolioPageMain">
			<div class="portfolioTexts">
				<h1 class="">THE CHALLENGE</h1>
				<p >
					Provide a  hybrid App that allows users to map English alphabets to one or more
					letters/numbers/symbols of any existing language supported on the user’s device.
				</p>
				<p>
					App should be able to translate user input to the defined ‘language’ in real time.
				</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body  portfolioPageAlt">
			<div class="portfolioTexts">
				<h1 class="">Jungle Language Cheat Sheet</h1>
				<p >
					In Jungle Language, if I wanted to write
					<br />
					<strong>How are   You?</strong>,
					<br />
					I would say
					<br />
					<strong>Ha4Wa   1Ra2   Ya45</strong>?
					<br />
					The vowels A, E, I, O, U in jungle language are represented by 1, 2, 3, 4, 5 respectively. The consonants,
					on the other hand, remain as is, however, an 'a' is appended to them - B becomes Ba, C
					becomes Ca, D becomes Da, F becomes Fa ... and Z becomes Za.
					<br />
					The goal of Tranxi is to allow people to create their own language just like someone
					came up with Jungle Language.

				</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body text-justify center-block portfolioPageMain">
			<div class="portfolioTexts">
				<h1 class="">SOLUTIONS AND RESULTS</h1>
				<h3 >User Feedback is always the best feedback.</h3>
				<p>
					The making of Tranxi was a learning experience for me. I had never used Angular JS prior to
					designing Tranxi. I was, however, able to learn and make something that worked. I learned a
					lot by working on Tranxi and I think that my programming skills and love for programming
					were improved after I finished Tranxi.
				</p>
				<h3 >Results</h3>
				<p>
					Tranxi is currently in the
					<a class="seeDetails extern_link" href="https://play.google.com/store/apps/details?id=com.uchibeke.tranxi" target="_blank">Google play store</a> .
					I will have to refine it for it to be useful to a wider audience.
				</p>
				<a class="extern_link" href="http://uchi.me/tranxi" target="_blank"><h4 class="seeDetails">Go try it out</h4></a>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body text-center portfolioPageAlt">
			<img ng-src="images/portfolio/tranxi/side2.png" width="60%" class="" style="border: thin solid  #313649;"/>
			<p>

			</p>
		</div>
	</div>
</section>