<!-- About Section -->
<section id="about" class="animated  fadeInUpBig">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">About</h2>
				<h3 class="section-subheading text-muted">I am a Nigerian born, US based, visual storyteller.</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<ul class="timeline">
					<li>
						<div class="timeline-image">
							<img class="img-centered img-responsive" src="assets/about/about_p.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<!-- <div class="timeline-heading">
							<h4>2009-2011</h4>
							<h4 class="subheading">Our Humble Beginnings</h4>
							</div> -->
							<div class="timeline-body">
								<p class="text-muted text-justify">
									I aspire to tell stories in the form of moving pictures, stories that have deep and personal meanings and explain hidden truths in our society. He grew up myopic and learned from an early age how to see things through his mind eyes and incorporating this with his physical eyes, makes him a very visual person.
									He discovered filmmaking was what he wanted to do right from high school when he was the filmmaker and photographer of the Entertainment Club of his high school, which he was part of. He has spent the last few years after graduating from high school studying specific areas of science that fascinates him. He spent two years in the University of Calabar, Nigeria, studying Genetics and Biotechnology and is currently studying Forensic Science with concentration in Chemistry and a minor in communications with concentration in film and public relations. He is currently working on short films and developing projects that are risky but speaks volume about who he is as a filmmaker, what he believes in and his whole outlook on how things are.
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>QUOTE</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted text-justify">
									<q> I know the industry has a lot of ups and downs, but honestly,
										this is what I am meant to do. That feeling of showing your work to the world,
										that feeling of seeing your idea, your story on the large screens, that's what
										I want to feel for the rest of my life. So, I've rolled up my sleeves and I'm ready
										to attack, attack and attack. Whatever the difficulties I have to go through to make
										a movie, I know it will all be worth it because I'm doing what I love doing, and that's
										making movies. </q>
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4>AWARD</h4>
								<h4 class="subheading">2015 Emerging artist Award Presentation </h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted text-justify">
									<video width="100%" controls>
										<source src="assets/about/video_1.mp4" type="video/mp4">
										<!-- <source src="assets/about/video_1.mp4" type="video/ogg"> -->
										Your browser does not support the video tag.
									</video>
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>