<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<i  class="copyright">Copyright &copy; Majiye. Designed by <a href="http://uchibeke.github.io/" target="_blank">Uchi</a> 
					<span id="footerDate"> </span></i>
			</div>
			<div class="col-md-4">
				<ul class="list-inline social-buttons">
					<li>
						<a href="#"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</li>
				</ul>
			</div>
			<!-- <div class="col-md-4">
				<ul class="list-inline quicklinks">
					<li>
						<a href="#">Privacy Policy</a>
					</li>
					<li>
						<a href="#">Terms of Use</a>
					</li>
				</ul>
			</div> -->
		</div>
	</div>
</footer>
