<!-- Portfolio Grid Section -->
<section id="photography" class="bg-light-gray portfolio animated  fadeInUpBig">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Photography</h2>
				<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
			</div>
		</div>
		<div class="row center-block text-center">
			<button class="btn btn-primary btn-success btn-lg" ng-click="people=true; nature=false; abstract = false">
				People
			</button>
			<button class="btn btn-primary btn-success btn-lg"  ng-click="people=false; nature=true; abstract = false">
				Nature
			</button>
			<button class="btn btn-primary btn-success btn-lg"  ng-click="people=false; nature=false; abstract = true">
				Abstract
			</button>
		</div>
		<br />

		<div class="animated  slideInUp" ng-show="people">
			<div id="" class=" container  text-center center-block" style="text-align: center; alignment-baseline: central;">
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/1.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/2.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/3.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/4.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/5.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/6.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/7.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/8.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/9.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/10.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/11.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/12.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/13.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/14.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/15.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/16.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/17.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/18.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/19.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/20.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/21.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/21.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/23.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/24.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/25.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/26.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/27.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/28.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/29.jpg');"></div>
				<!-- <div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/30.jpg');"></div> -->
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/31.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/32.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/33.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/34.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/35.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/36.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/37.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/38.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/39.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/40.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/41.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/42.jpg');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/people/43.jpg');"></div>
			</div>
		</div>
		<div class="animated  slideInUp" ng-show="nature">
			<div id="" class=" container  text-center center-block" style="text-align: center; alignment-baseline: central;">
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/1.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/2.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/3.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/4.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/5.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/6.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/7.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/8.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/9.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/10.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/11.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/12.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/13.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/14.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/15.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/16.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/17.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/18.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/nature/19.JPG');"></div>
			</div>
		</div>
		<div class="animated  slideInUp" ng-show="abstract" ng-init="abstract = true">
			<div id="" class=" container  text-center center-block" style="text-align: center; alignment-baseline: central;">
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/1.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/2.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/3.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/4.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/5.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/6.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/7.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/8.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/9.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/10.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/11.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/12.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/13.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/14.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/15.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/16.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/17.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/18.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/19.JPG');"></div>
				<div class="portfolioImgDiv text-center center-block" style="background-image:url('assets/photography/abstract/20.JPG');"></div>
			</div>
		</div>
	</div>
</section>
