<!-- Portfolio Grid Section -->
<section id="photography" class="bg-light-gray portfolio">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Photography</h2>
				<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
			</div>
		</div>
		<div class="row center-block text-center">
			<button class="btn btn-primary btn-success btn-lg" ng-click="people=true; nature=false; phot = false">
				People
			</button>
			<button class="btn btn-primary btn-success btn-lg"  ng-click="people=false; nature=true; phot = false">
				Nature
			</button>
			<button class="btn btn-primary btn-success btn-lg"  ng-click="people=false; nature=false; phot = true">
				Photography
			</button>
		</div><br />
		<div class="pep" ng-show="people">
			<div id="container" class=" grid">
				<div class="grid-sizer"></div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/8.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/1.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/42.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/4.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/5.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/6.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/7.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/9.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/10.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/11.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/12.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/13.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/14.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/2.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/15.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/16.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/17.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/18.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/19.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/3.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/20.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/21.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/22.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/23.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/24.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/25.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/26.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/27.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/28.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/29.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/30.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/31.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/32.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/33.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/34.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/35.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/36.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/37.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/38.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/39.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/40.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/41.jpg" alt="">
				</div>
				<div class="grid-item">
					<img class="" src="assets/photography/people/43.jpg" alt="">
				</div>
				<div class="grid-item ">
					<img class="" src="assets/photography/people/44.jpg" alt="">
				</div>
			</div>
		</div>
		<!-- <div class="col-md-4 col-sm-6 portfolio-item">
		<a href="#photography1" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		<div class="portfolio-hover-content">
		<i class="fa fa-plus fa-3x"></i>
		</div>
		</div> <img src="img/portfolio/roundicons.png" class="img-responsive" alt=""> </a>
		<div class="portfolio-caption">
		<h4>People</h4>
		<p class="text-muted">
		Photography
		</p>
		</div>
		</div>
		<div class="col-md-4 col-sm-6 portfolio-item">
		<a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		<div class="portfolio-hover-content">
		<i class="fa fa-plus fa-3x"></i>
		</div>
		</div> <img src="img/portfolio/startup-framework.png" class="img-responsive" alt=""> </a>
		<div class="portfolio-caption">
		<h4>Startup Framework</h4>
		<p class="text-muted">
		Website Design
		</p>
		</div>
		</div>
		<div class="col-md-4 col-sm-6 portfolio-item">
		<a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		<div class="portfolio-hover-content">
		<i class="fa fa-plus fa-3x"></i>
		</div>
		</div> <img src="img/portfolio/treehouse.png" class="img-responsive" alt=""> </a>
		<div class="portfolio-caption">
		<h4>Treehouse</h4>
		<p class="text-muted">
		Website Design
		</p>
		</div>
		</div>
		<div class="col-md-4 col-sm-6 portfolio-item">
		<a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		<div class="portfolio-hover-content">
		<i class="fa fa-plus fa-3x"></i>
		</div>
		</div> <img src="img/portfolio/golden.png" class="img-responsive" alt=""> </a>
		<div class="portfolio-caption">
		<h4>Golden</h4>
		<p class="text-muted">
		Website Design
		</p>
		</div>
		</div>
		<div class="col-md-4 col-sm-6 portfolio-item">
		<a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		<div class="portfolio-hover-content">
		<i class="fa fa-plus fa-3x"></i>
		</div>
		</div> <img src="img/portfolio/escape.png" class="img-responsive" alt=""> </a>
		<div class="portfolio-caption">
		<h4>Escape</h4>
		<p class="text-muted">
		Website Design
		</p>
		</div>
		</div>
		<div class="col-md-4 col-sm-6 portfolio-item">
		<a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
		<div class="portfolio-hover-content">
		<i class="fa fa-plus fa-3x"></i>
		</div>
		</div> <img src="img/portfolio/dreams.png" class="img-responsive" alt=""> </a>
		<div class="portfolio-caption">
		<h4>Dreams</h4>
		<p class="text-muted">
		Website Design
		</p>
		</div>
		</div> -->
	</div>
</section>
