<!-- Team Section -->
<section id="uEven" class="bg-light-gray center-block center-block animated  fadeInUpBig">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Unevenly Even</h2>
				<h3 class="section-subheading text-muted"> </h3>
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="team-member">
					<img src="assets/good.jpg" class="img-responsive " alt="">
				</div>
			</div>
			<div class="col-sm-8">
				<div class="team-member">
					<p class="text-justify text-muted">
						“Unevenly Even – Party or Revenge” is a short film inspired by a dream. It is a mystery thriller which subtly showcases the hype of college life and quickly turns in to a crime thriller as it reaches its climax.
						It is proposed to be shot in a found-footage, Cinéma vérité style, where actors break the fourth wall.
					</p>
					<h4>SYNOPSIS </h4>
					<p class="text-justify text-muted">
						“During final exams, six college seniors get a similar, anonymous text about a secret, off-the-record party, deep in the woods. They impulsively agree to attend this secret party, only to discover it is their friend from freshman year. However, he is no longer in St. Andrews for disciplinary reasons, and now he has come back to revenge. Revenge for what? What happens after this? Do they live to tell the story?”
					</p>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<p class="large text-muted">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
					</p>
				</div>
			</div> -->
		</div>
</section>
