<section class="row" ng-style="s.style.bgColor()">
	<br />
	<div  class="" ng-hide=" $storage.xx.length > 0 && switchView == true">
		<!-- <div > -->
		<div class="input-field dataFieldContainer row">
			<textarea ng-model="dataField.field" placeholder="Paste all the text you want to include in your cheat sheet. All lines will be removed and joined to the preceeding line." 
		class="dataField" type="text" style="height: 300px !important; padding: 1%;"></textarea>
		</div>
		<div class=" populate_div row" data-toggle="buttons" style="padding-bottom: 2%;">
			<div class=" pull-left col l6 left" >
				{{s.style.bgColor()}}
				<h4 for="delimID">Current delimeter is
				<input type="text" ng-model="delim" style="width: 7%" id="delimID" class="center"/>
				.  Edit it as you wish. </h4>
				<button ng-model="btnText" type="button" ng-hide="delim == ' || ' || delim.length<=0"
				class="waves-effect waves-light btn checkInBtn " ng-click="generateSheet()">
					Replace
				</button>
			</div>
			<div class="col l1"></div>
			<div class="col l5 right ">
				<button ng-model="btnText" type="button" ng-show="dataField.field.length >=1"
				class="waves-effect waves-light btn left" ng-click="clearField(dataField.field); dataField.field = ' ' ">
					Clear Field
				</button>
				<button ng-model="btnText" type="button"
				class="waves-effect waves-light btn checkInBtn right " ng-click="generateSheet()">
					Generate
				</button>
			</div>
			<!-- {{dataField.field}} -->
		</div>

	</div>
	<div>
		<!-- {{$storage.x}} -->
		<!-- <p >{{dateString()}}</p> -->
		<button ng-hide="true" ng-click="$storage.$reset({ })">
			Clear localStorage
		</button>
	</div>
	<div class="">
		<div style="padding-right: 10%;"  ng-show="switchView && $storage.xx.length > 0" class="left row">
			<button ng-model="btnText" type="button" ng-click="switchView = !switchView"
			class="waves-effect waves-light btn btn-xs " ng-model="switchView" >
				Go back
			</button>
		</div>
		<div class="right row" ng-show="switchView && $storage.xx.length > 0">
			<button ng-model="btnText" type="button" name="printreport" id="printreport"
			class="waves-effect waves-light btn checkInBtn" ng-click="" >
				Print Setup
			</button>
		</div>
	</div>

	<div  class=" " ng-show="switchView && $storage.xx.length > 0">
		<br />
		<!-- <h1 class="card-panel"> Cheat Sheet</h1> -->
		<div class="row">
			<input type="range" name="points" min="5" max="20" ng-model="$storage.fontSz">
			<p class="center">
				{{fontSz}} Pts &nbsp; &nbsp; | &nbsp; &nbsp; {{$storage.fontSz/(72/96) | number:0}} px
			</p>
			<br />
			<p id="content" style="font-size:{{$storage.fontSz/(72/96)}}px;  text-align: justify; font-family: Tahoma;">
				{{$storage.xx}}
			</p>
			<!-- </div> -->
			<!-- <img ng-src="{{slides[0].image}}" width="200px" alt="...">
			<img ng-src="{{slides[1].image}}" width="200px" alt="...">
			<img ng-src="{{slides[2].image}}" width="200px" alt="...">
			<img ng-src="{{slides[3].image}}" width="200px" alt="...">
			<img ng-src="{{slides[5].image}}" width="200px" alt="..."> -->
		</div>
	</div>
	<!-- <p class="text-center"  ng-show="$storage.xx.length>0">
	Need another app like this? Maybe something that can help you with school? Shoot me a message and I will try to make it.
	</p> -->
</section>