<!-- <div class="uofs-header-masthead" role="banner">
<a class="uofs-header-crest" href="http://www.usask.ca/"
target="_blank">University of Saskatchewan</a>
<a class="uofs-header-sitename" href="#">Event Check-In</a>
<div class="pull-right">
<a href="http://www.usask.ca/ict/help-support/index.php" target="_new"
class="uofs-header-sitename"> <span style="padding-right:20px;font-size:14px;font-weight:normal;">Help</span></a>
<a  ng-href="#/populate" style="margin-right:10px;"
class="btn btn-sm btn-default navbar-btn">Add Guests</a>
<p class="navbar-text" style="margin-right:10px;padding-top:2px;"></p>
</div>
</div> -->

<div class="">
	<nav>
		<div class="nav-wrapper teal lighten-2" style="padding-left: 3%;"><br />
			<a href="#" class="brand-logo" >Cheat Sheet Generator</a>
			<!-- <a href="#" class="brand-logo">Logo</a> -->
		</div>
	</nav>
	<!-- <nav class="">
	<div class="nav-wrapper">
	<a href="#" class="brand-logo center">Cheat Sheet Generator</a>
	</div>
	</nav> -->
</div>