<div  class=" " ng-show="switchView && $storage.xx.length > 0">
	<br />
	<!-- <h1 class="card-panel"> Cheat Sheet</h1> -->
	<div class="row">
		<input type="range" name="points" min="5" max="20" ng-model="fontSz">
		<p class="center">
			{{fontSz}} Pts &nbsp; &nbsp; | &nbsp; &nbsp; {{fontSz/(72/96) | number:0}} px
		</p>
		<br />
		<p id="content" style="font-size:{{fontSz/(72/96)}}px;  text-align: justify; font-family: Tahoma;">
			{{$storage.xx}}
		</p>
		<!-- </div> -->
		<!-- <img ng-src="{{slides[0].image}}" width="200px" alt="...">
		<img ng-src="{{slides[1].image}}" width="200px" alt="...">
		<img ng-src="{{slides[2].image}}" width="200px" alt="...">
		<img ng-src="{{slides[3].image}}" width="200px" alt="...">
		<img ng-src="{{slides[5].image}}" width="200px" alt="..."> -->
	</div>
</div>