<ion-view >
	<ion-content class="splash padding">
		<div class="about ">
			<div class="card padding">
				<div class="padding" style="text-align: justify;">
					<h3 style="text-align: center;">About</h3>
					<p>
						Tranxi or UTranslate is inspired by Jungle Language, a language we often resorted to as high school kids in Port harcourt, to conceal what we are talking about. I had to buy lunch for one of my classmates, Divine, to learn the language. I did not, however, realize how easy the language was.
					</p>
					<p>
						Basically, in Jungle language, the vowels are changed to numbers- a = 1, e = 2, i = 3, o = 4, and u = 5. Each of the consonants, on the other hand, remain as is, however, an 'a' is appended to them - B becomes Ba, C becomes Ca, D becomes Da, F becomes Fa ... and Z becomes Za.
					</p>
					<p>
						In Jungle Language, if I wanted to write
						How   are   You?,
						I would say
						Ha4Wa   1Ra2   Ya45?
					</p>

					<p>
						In jungle language, we also say out each alpabet when speaking, so;
						How   are   You?,
						would be said as
						Ha-4-Wa  1-Ra-2   Ya-4-5?, pronoucing each consonant and vowel. (◕‿◕)
					</p>

					<p>
						Tranxi's default language is Jungle language. However, with Tranxi, you can also create you own language just like Jungle language. Just add what you want each of the alphabets to be, start typing and whatever you type gets translated. Copy and send via email. Click the share button to share using most mediums. I am yet to implement the share button.ʕ•ᴥ•ʔ
					</p>

				</div>
				<ol class=" padding" style="text-align: justify;">
					<li>
						- Define you language by assigning a each alphabet a character or a sequence of characters.
					</li>
					<li>
						- Type whatever you want and have it automatically translated to the texts you set.
					</li>
					<li>
						- Type whatever you want and have it automatically translated to the texts you set.
					</li>
					<li>
						- Copy text and send it via text, email, etc.
					</li>

				</ol>
			</div>

		</div>
	</ion-content>
</ion-view>