<section class="text-center  animated  zoomIn " data-lastmodifiedby="uiu040" id="">
	<!-- <br />
	<p class="text-center center-block homeIntro">
	Uchi is a Computer Science and Design Student based in Saskatoon, Canada.
	</p> -->
	<div class="row projectDiv panel panel-default" id="project1" onclick="location.href='#/eventstone';" >
		<div class="panel-body">
			<h1>ANNIES SONG FOR SLOAN,  The Best</h1>
			<br />
			<p id="txt"></p>

			<audio ng-show="false" controls autoplay>
				<source src="http://www.wlzjb.com/images/Cartoon/05.mp3" type="audio/ogg">
				<source src="http://www.wlzjb.com/images/Cartoon/05.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
		</div>
	</div>

</section>