/*B1*/

.b1Outer {
	border: 1px solid black;
	background: #2c57a9;
	width: 3in;
	height: 4in;
	font-size: 3.5 rem;
	text-align: center;
	color: white;
	display: inline-block;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
	page-break-inside: avoid !important;
	font-family: 'Noto Sans', sans-serif;
}
.b1Tag {
	padding-bottom: 0.2in;
	width: 100%;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
	page-break-inside: avoid !important;
}
.b1Header {
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	padding: 10px 0 0 0;
	font-size: 20px;
}

.b1Tag p, .b1Tag footer {
	font-weight: normal;
	margin: -5px 0 10px 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
	page-break-inside: avoid !important;
}
.b1Main {
	background: white;
	height: 2.8in;
	font-size: 18px;
	padding: 0.6in 5px 0px 5px;
	font-family: 'Noto Sans', sans-serif;
}
.name, .b1Main:first-line {
	font-weight: bold;
	font-size: 35px;
	margin-bottom: 1rem;
}
.b1Tag footer {
	margin: 10px 0 2rem;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
	page-break-inside: avoid !important;
}

.b1Main .company {
	font-size: 15px;
}

/*B2*/

.b2Tag {
	border-radius: 20px;
	padding: 1px;
	position: relative;
	height: 3in;
	width: 4in;
	align: center;
	border: 1px solid #EEEEEE;
	display: inline-block;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
	page-break-inside: avoid !important;
	font-family: 'Noto Sans', sans-serif;
}
.b2Name {
	font-size: 30px;
	border: solid;
	height: 1.5in;
	width: 3.6in;
	text-align: middle;
	margin: 0.2in !important;
	border: 1px solid #EEEEEE;
}
.b2Header {
	font-size: 40px;
	border: none;
	padding: 1px;
	color: #FFF;
	text-align: center;
	height: 0.5in;
	width: 3.9in;
	align: top;
	margin-bottom: 15px;
}
.B2Hello {
	margin-top:15px;
	font-size: 55px;
	font-weight: bold;
	border: none;
	margin-bottom: 10px;
	color: #FFF;
	text-align: center;
	height: 0.4in;
	width: 3.9in;
	align: top;
}

/*B3*/
