/*B1*/

.b1Outer {
	border: 1px solid black;
	background: #2c57a9;
	width: 3in;
	height: 4in;
	font-size: 3.5 rem;
	text-align: center;
	color: white;
	display: inline-block;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
	page-break-inside: avoid !important;
	font-family: 'Noto Sans', sans-serif;
	margin-top:5px;
}
.b1Tag {
	padding-bottom: 0.2in;
	width: 100%;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
	page-break-inside: avoid !important;
}
.b1Header {
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	padding-top: 15px;
	font-size: 20px;
}

.b1Tag p, .b1Tag footer {
	font-weight: normal;
	margin: -5px 0 10px 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
	page-break-inside: avoid !important;
}
.b1Main {
	background: white;
	height: 2.8in;
	font-size: 18px;
	padding: 0.6in 5px 0px 5px;
	font-family: 'Noto Sans', sans-serif;
}
.name, .b1Main:first-line {
	font-weight: bold;
	font-size: 35px;
	margin-bottom: 1rem;
}
.b1Tag footer {
	margin: 10px 0 2rem;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
	page-break-inside: avoid !important;
}

.b1Main .company {
	font-size: 15px;
}

/*B2*/

#b2Tag {
	border-radius: 20px;
	padding: 1px;
	position: relative;
	height: 2.6875in;
	width: 3.375in;
	align: center;
	border: 1px solid #EEEEEE;
	display: inline-block;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
	page-break-inside: avoid !important;
	font-family: 'Noto Sans', sans-serif;
}
.b2Name {
	font-size: 50px;
	padding-top:15px;
	border: solid;
	height: 1.15in;
	width: 3.075in;
	margin: 0.15in !important;
	border: 1px solid #EEEEEE;
}
.b2Header {
	font-size: 40px;
	border: none;
	padding: 1px;
	color: #dbaf81;
	height: 0.5in;
	width: 3.075in;
	align: top;
	margin-bottom: 5px;
	margin-top: -10px;
}
.B2Hello {
	margin-top: 15px;
	font-size: 50px;
	font-weight: bold;
	border: none;
	color: #dbaf81;
	height: 0.6875in;
	width: 3.075in;
	align: top;
}

/*B3*/

#b3Tag {
	background-color: #404040;
	width: 3.5in;
	height: 2in;
	color: blue;
	align: center;
	border-radius: 20px;
	border: 1px solid #EEEEEE;
	position: relative;
	display: inline-block;
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-moz-print-color-adjust: exact !important;
	page-break-inside: avoid !important;    
	vertical-align: top;

}

#b3Tag h1 {
	color: #dbaf81;
	font-family: 'Lobster', cursive;
	font-size: 0.5in;
	margin-top: 20px;
	margin-bottom: -5px;
	padding-top:5px;
	padding-bottom:15px;
}

#b3Tag h1:hover {
	color: #dbaf81;
}

#b3Tag h2 {
	color: #dbaf81;
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	padding:0px 5px 0px 5px;
}

#b3Tag p {
	color: #dbaf81;
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	border-radius: 20px;
}
