/* @override

 @import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

 /* Reset Styles */
/*@import url('http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Base Styles */

.cf:before, .cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/* guest List Styles */

.guestlist {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
	z-index: 10;
}

.searchBar {
	width: 100%;
}

.dataField {
	width: 100%;
}

.guestlist li {
	margin: 0;
	padding: 10px 10px 0 10px;
	border-bottom: 1px dotted black;
}

.guestlist a {
	display: block;
	text-decoration: none;
}

.info,  {
padding-bottom: 10px;
}

.populate_div {
	padding-top: 10px;
}
.back_div {
	padding-bottom: 10px;
}

#home_bg {
	background-image: url("../images/home4.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	color: #BED600;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}

#home_bg h1 {
	color: #BED600;
}

#home_bg li a {
	background-color: #E4E597;
}

#listBack {
	position: fixed;
	/*top: 3%;*/
	width: 100%;
	opacity: 1;
}
body {
	background-color: #fffff;
}

.navBtns {
	padding: 1.5%;
}

.flipImg {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}


body {
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
}

.ticket {
	page-break-inside: avoid !important;
	width: 5in !important;
	height: 2.125in !important;
	border-style: solid;
	border: thin dashed red;
	font-family: monospace;
	background-color: #92F1FF;
	color: #E74C3C;
	text-align:center;
}

.guestInList {
	page-break-inside: avoid !important;
	display: block !important;
}

.ticketCol1 {
	font-family: monospace;
	/*width: 132px !important;*/
	display: block !important;
}
.ticketCol2 {
	border-style: solid;
	/*border-right: medium solid #363942;*/
	border-left: medium solid #363942;
	/*width: 352px !important;*/
	display: block !important;
}

.ticketCol3 {
	font-family: monospace !important;
	/*width: 44px !important;*/
}
.centerDiv {
	width: 340px !important;
}

.centerDiv_1 {
	/*width: 117px !important;*/
}

.centerDiv_2 {
	width: 145px !important;
	border-style: solid !important;
	border-right: thin solid #363942 !important;
	border-left: thin solid #363942 !important;
}

.centerDiv_3 {
	/*width: 60px !important;*/
}

.eventDets {
	padding-right: 20% !important;
}

.ticketTitle{
	font-size: x-large !important;
	font-weight: bold !important;
	border-style: solid !important;
	border-bottom: thin solid #363942 !important;
}

.ticketVenue {
	font-size: large !important;
	font-weight: bold !important;
	border-style: solid !important;
	border-bottom: thin solid #363942 !important;
	
} 
.styleBtns div, .styleBtns_Txt div {
	width: 100%;
}

.styleBtns div:hover {
	padding-left: 10%;
	border-right: medium solid black;
	border-top: medium solid black;
}

.styleBtns_Txt div:hover {
	padding-left: 10%;
	border-right: medium solid #B8AE9C;
	border-top: medium solid #B8AE9C;
}
.affix {
      top: 0;
      /*width: 100%;*/
  }


/*Removed default print styles from limestone*/

