<div class=" center-block row text-justify text-muted">
	<br />
	<ul class="list-group">
		<li class="list-group-item">
			You can use any background or font color for this ticket.
		</li>
		<li class="list-group-item">
			Enter color name (red), hex value (#EEEEEE) or rgba or rgba (rgb(255,0,0)) value and click "Ok".
		</li>
		<li class="list-group-item">
			Get color names from <a href="http://www.w3schools.com/html/html_colornames.asp" target="_blank">W3Schools</a>.
		</li>
		<li class="list-group-item">
			Mix colors with <a href="http://www.w3schools.com/tags/ref_colormixer.asp" target="_blank">W3Schools Color Mixer</a>
			then copy the hex value.
		</li>
		<li class="list-group-item">
			Include a '#' before the 6 digit color value if using hex values.
		</li>
	</ul>
</div>