<div class="col-sm-7 col-xs-12 ticketPreview">
	<h2 class="text-center row ">Preview</h2>
	<div class="row text-center ticket center-block" ng-style="previewStyle()">
		<div class="col-md-3 col-lg-3 col-xs-3 ticketCol1 text-center center-block">
			<div style="width: 50%;" class="center center-block text-center" ng-show="toUpload">
				<img ng-src="{{croppedDataUrl}}" width="100%" class=""/>
			</div>
			<span class="ticketGName">{{$storage.guestsList[0].ticketNumber}}</span>
			<img alt="Add guest to see barcode" class="img-responsive barcodeIMG"
			src="{{barcodeSrc($storage.guestsList[0].ticketNumber,$storage.ticketBgColor,$storage.ticketText)}}">
			<p class=" text-center userInfo"  ng-style="previewStyle()" >
				{{$storage.ageInfo}}
			</p>
		</div>
		<div class="col-md-9 col-lg-9 col-xs-9 ticketCol2  text-center center-block">
			<h2 class="text-center ticketTitle" ng-style="previewStyle()"  > {{$storage.eventName}} </h2>
			<h5 class="text-center ticketVenue" ng-style="previewStyle()"  > {{$storage.ticket[0].eventVenue}} </h5>
			<div class="row centerDiv">
				<div class="col-md-4 col-lg-4 col-xs-4 text-center center-block centerDiv_1">
					<span>{{$storage.ticket[0].eventDate}} {{$storage.ticket[0].eventTime}}</span>
					<br />
					<span class="ticketP text-center" ng-style="previewStyle()">{{$storage.ticket[0].ticketPrice | currency }}</span>
					<br />
					<span  class="securityEncoding">{{$storage.secEncoding }}</span>
				</div>
				<div class="col-md-4 col-lg-4 col-xs-4 text-center centerDiv_2">
					<h3 ng-style="previewStyle()">Admit One</h3>
				</div>
				<div class="col-md-4 col-lg-4 col-xs-4  centerDiv_3"  >
					<p class=" text-left userInfo" ng-style="previewStyle()" >
						{{$storage.otherTicketInfo}}
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class=" center-block row text-justify text-muted">
		<br />
		<ul class="list-group">
			<li class="list-group-item">
				You can use any background or text for this ticket.
			</li>
			<li class="list-group-item">
				Enter color name or hex value (#EEEEEE) or rgba value in on the right and click "Ok".
			</li>
			<li class="list-group-item">
				Get color names <a href="http://www.w3schools.com/html/html_colornames.asp" target="_blank">Here</a>.
			</li>
			<li class="list-group-item">
				Mix colors with <a href="http://www.w3schools.com/tags/ref_colormixer.asp" target="_blank">this Color Mixer</a>
				then copy the hex value.
			</li>
			<li class="list-group-item">
				Please include a '#' before the 6 digit color value for hex values.
			</li>
		</ul>
	</div>
</div>