<!-- Simon : How do I add name of group organizing event -->
<!-- Megan: Name badge. Synch accross devices -->
<div ng-include="'partials/nav.html'"></div>
<section class="guestinfo  container-fluid animated slideInRight pg" id="badgePage">
	<div class="hideOnPrint" ng-hide="printSet">
		<div class=" pull-left ">
			<a type="button" class="btn btn-default btn-xs" ng-href="#!/dashboard"> <span class="fa fa-tachometer"></span> </a></a>
		</div>
		<h1 class="text-center">BADGE DESIGNER</h1>
		<div class="row dataFieldContainer  center-block ">
			<div class="col-sm-3 col-xs-12 pull-left ticketContent">
				<h3 class="text-center">Content</h3>
				<div >
					Change the numbers below
					<form role="form ">
						<!-- <div class=" " >
						<label>Upload event Logo/Image? </label>
						<input type="checkbox" ng-model="toUpload">
						</div> -->
						<div class="form-group">
							<input class="form-control"  placeholder="First Name column no" type="text"
							ng-model="$storage.options.badge.fNameCol">
						</div>
						<div class="form-group">
							<input class="form-control"  placeholder="Last Name column no" type="text"
							ng-model="$storage.options.badge.lNameCol">
						</div>
						<div class="form-group">
							<input class="form-control"  placeholder="Title Column number" type="text"
							ng-model="$storage.options.badge.titleCol">
						</div>
						<div class="form-group">
							<input class="form-control"  placeholder="Company Column number" type="text"
							ng-model="$storage.options.badge.companyCol">
						</div>
						<div class="form-group">
							<input class="form-control"  placeholder="Email Column Number" type="text"
							ng-model="$storage.options.badge.emailCol">
						</div>
						<div class="form-group">
							<input class="form-control"  placeholder="Email Column Number" type="text"
							ng-model="$storage.options.badge.firstTxt">
						</div>
						<div class="form-group">
							<input class="form-control"  placeholder="Email Column Number" type="text"
							ng-model="$storage.options.badge.secondTxt">
						</div>
						<!-- <div class="form-group text-justify " ng-show="toUpload">
						<button ngf-select ng-model="picFile" accept="image/*">
						Select Picture and crop
						</button>
						<div ngf-drop ng-model="picFile" ngf-pattern="image/*"
						class=""></div>
						</div>
						<div class="">
						<label>Upload sponsor 1 logo </label>
						<input type="checkbox" ng-model="toUpload1">
						</div>
						<div class="form-group text-justify " ng-show="toUpload1">
						<button ngf-select ng-model="image1" accept="image/*">
						Select Picture
						</button>
						<div ngf-drop ng-model="image1" ngf-pattern="image/*"
						class=""></div>
						</div>
						<div class=" ">
						<label>Upload sponsor 2 logo </label>
						<input type="checkbox" ng-model="toUpload2">
						</div>
						<div class="form-group text-justify " ng-show="toUpload2">
						<button ngf-select ng-model="image2" accept="image/*">
						Select Picture
						</button>
						<div ngf-drop ng-model="image2" ngf-pattern="image/*"
						class=""></div>
						</div>
						<div class=" ">
						<label>Upload sponsor 3 logo </label>
						<input type="checkbox" ng-model="toUpload3">
						</div>
						<div class="form-group text-justify " ng-show="toUpload3">
						<button ngf-select ng-model="image3" accept="image/*">
						Select Picture
						</button>
						<div ngf-drop ng-model="image3" ngf-pattern="image/*"
						class=""></div>
						</div>
						<div class=" ">
						<label>Upload sponsor 4 logo </label>
						<input type="checkbox" ng-model="toUpload4">
						</div>
						<div class="form-group text-justify " ng-show="toUpload4">
						<button ngf-select ng-model="image4" accept="image/*">
						Select Picture
						</button>
						<div ngf-drop ng-model="image4" ngf-pattern="image/*"
						class=""></div>
						</div> -->
					</form>
				</div>
				<div class=" center-block row text-center">
					<div class="center-block">
						<button   type="button" class="btn btn-info btn-lg center-block"
						ng-click="printSet=true;($storage.sampleView) = true;">
							<span class="glyphicon glyphicon-print"></span>
						</button>
					</div>
				</div>
			</div>

			<div class="col-sm-1 col-xs-12 text-center center-block" >
				<a href="" ng-click="showTextColor=!showTextColor" ng-show="showTextColor" style="font-size: 40px"><i class="fa fa-toggle-off text-bold" > </i> </i></a>
				<a href="" ng-click="showTextColor=!showTextColor" ng-show="!showTextColor" style="font-size: 40px"><i class="fa fa-toggle-on text-bold" > </i></a>
				<div class="col-sm-12" ng-hide="showTextColor">
					<div class="text-center row ticketColors">
						<div class="styleBtns cf" ng-repeat="item in $storage.style | orderBy:'-' ">
							<a ng-click="ticketBackground(item.hex)">
							<div type="button" class="btn  btn-xs "
							ng-style="textBtnStyle(item.hex)"
							style="">
								&nbsp;
							</div> </a>
						</div>
					</div >
					<br />
					<div class="text-center row">
						<input ng-model="userFillColor" class="row text-center" style="width: 100%;" placeholder="color"
						/>
						<br />
						<button  type="button" class="btn btn-primary btn-xs " ng-click="ticketBackground(userFillColor)">
							Ok
						</button>

					</div>
				</div>
				<div class="col-sm-12" ng-show="showTextColor">
					<div class="text-center row ticketColors">
						<div class="styleBtns_Txt cf" ng-repeat="item in $storage.style">
							<a ng-click="ticketTxtColor(item.hex);">
							<div type="button" class="btn btn-xs "
							ng-style="textBtnStyle(item.hex)"
							style="">
								&nbsp;
							</div> </a>
						</div>
					</div>
					<br />
					<div class="text-center row">
						<input ng-model="userTextColor" class="row text-center" style="width: 100%;" placeholder="color"
						/>
						<br />
						<button  type="button" class="btn btn-primary btn-xs " ng-click="ticketTxtColor(userTextColor)">
							Ok
						</button>
					</div>
				</div>
			</div>

			<!--  -->
			<div class="col-sm-8 col-xs-12 ticketPreview">
				<h3 class="text-center row center-block">Preview</h3>
				<div class="row">
					<slick autoplaySpeed="500" fade="true" dots="true" infinite="true" arrows="true" class="choices">
						<div ng-repeat="format in $storage.user.styles.badgeFormats.formats ">
							<div ng-include="format"></div>
						</div>
					</slick>
				</div>
				<div class="clearfix">
					<div class=" center-block row text-justify text-muted">
						<ul class="list-group">
							<li class="list-group-item">
								You can use any background or font color for this namebadge.
							</li>
							<li class="list-group-item">
								Enter color name (red), hex value (#EEEEEE) or rgba or rgba (rgb(255,0,0)) value and click "Ok".
								Add '#' before the 6 digit hex value.
							</li>
							<li class="list-group-item">
								Get color names from <a href="http://www.w3schools.com/html/html_colornames.asp" target="_blank">W3Schools</a> and
								mix colors with <a href="http://www.w3schools.com/tags/ref_colormixer.asp" target="_blank">W3Schools Color Mixer</a>
								then copy the hex value.
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div  ng-show="($storage.sampleView)" class="center-block text-center" >
		<div class="pull-left ">
			<button   type="button" class="btn btn-default  btn-xs" ng-show="printSet"
			ng-click="printSet=false;($storage.sampleView) = false">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
		</div>
		<div class="pull-right " >
			<button   type="button" class="btn btn-default  btn-xs" ng-show="printSet"
			ng-click="printBadges()">
				Print
			</button>
		</div><h2>{{$storage.eventName}}</h2>
		<div  class="text-center center-block">
			You are about to print a total of {{$storage.guestsList.length}} badges.
			<br />
			<span class="text-danger text-bold">IN THE NEXT PRINT DIALOGUE BOX, MAKE SURE TO CHECK 'PRINT BACKGROUND COLORS' and 'PRINT BACKGROUND IMAGES'</span>
		</div>
		<div id="printableBadge" class="text-center center-block">
			<h4  class="text-center center-block">{{$storage.eventName}} badges designed and generated at http://eventstion.io </h4>
			<div class="previewTickets  center-block text-center" style="width: 8in;">
				<div ng-include="$storage.user.styles.badgeFormats.preview[$storage.user.styles.selectedInd()]"></div>
			</div>
		</div>
	</div>
	<div>
		<button ng-hide="true" ng-click="$storage.$reset({ })">
			Clear localStorage
		</button>
	</div>
</section>