<!-- Simon : How do I add name of group organizing event -->
<!-- Megan: Name badge. Synch accross devices -->
<div ng-include="'partials/nav.html'"></div>
<section class="guestinfo  container-fluid animated slideInRight pg" id="badgePage">
	<div class="hideOnPrint" ng-hide="printSet">
		<div class=" pull-left ">
			<a type="button" class="btn btn-default btn-xs" ng-href="#!/dashboard"> <span class="fa fa-tachometer"></span> </a></a>
		</div>
		<h1 class="text-center">BADGE DESIGNER</h1>
		<p>
			Design name badges by uploading the logo of the event and up to
			4 logos event sponsors. Names of attendees will be added automatically.
		</p>
		<div class="row dataFieldContainer  center-block ">
			<div class="col-md-4 col-xs-12 pull-left ticketContent">
				<h2 class="text-center">Content</h2>
				<br />
				<div >
					<form role="form ">
						<div class=" " >
							<label>Upload event Logo/Image? </label>
							<input type="checkbox" ng-model="toUpload">
						</div>
						<div class="form-group text-justify " ng-show="toUpload">
							<button ngf-select ng-model="picFile" accept="image/*">
								Select Picture and crop
							</button>
							<div ngf-drop ng-model="picFile" ngf-pattern="image/*"
							class=""></div>
						</div>
						<div class="form-group">
							<input class="form-control"  placeholder="Role" type="text"
							ng-model="guestRole">
						</div>
						<div class=" ">
							<label>Upload sponsor 1 logo </label>
							<input type="checkbox" ng-model="toUpload1">
						</div>
						<div class="form-group text-justify " ng-show="toUpload1">
							<button ngf-select ng-model="image1" accept="image/*">
								Select Picture
							</button>
							<div ngf-drop ng-model="image1" ngf-pattern="image/*"
							class=""></div>
						</div>
						<div class=" ">
							<label>Upload sponsor 2 logo </label>
							<input type="checkbox" ng-model="toUpload2">
						</div>
						<div class="form-group text-justify " ng-show="toUpload2">
							<button ngf-select ng-model="image2" accept="image/*">
								Select Picture
							</button>
							<div ngf-drop ng-model="image2" ngf-pattern="image/*"
							class=""></div>
						</div>
						<div class=" ">
							<label>Upload sponsor 3 logo </label>
							<input type="checkbox" ng-model="toUpload3">
						</div>
						<div class="form-group text-justify " ng-show="toUpload3">
							<button ngf-select ng-model="image3" accept="image/*">
								Select Picture
							</button>
							<div ngf-drop ng-model="image3" ngf-pattern="image/*"
							class=""></div>
						</div>
						<div class=" ">
							<label>Upload sponsor 4 logo </label>
							<input type="checkbox" ng-model="toUpload4">
						</div>
						<div class="form-group text-justify " ng-show="toUpload4">
							<button ngf-select ng-model="image4" accept="image/*">
								Select Picture
							</button>
							<div ngf-drop ng-model="image4" ngf-pattern="image/*"
							class=""></div>
						</div>
					</form>
				</div>
				<div class=" center-block row text-center">
					<br />
					<div class="center-block col-md-6">
						<button   type="button" class="btn btn-primary btn-xs btn-block"
						ng-click="printSet=true;($storage.sampleView) = true;">
							Print Setup
						</button>
					</div>
					<div class="center-block col-md-6">
						<a type="button" class="btn btn-primary btn-xs btn-block" ng-href="#!/populate">Manage Guests</a>
					</div>
				</div>
				<div class=" center-block row text-justify text-muted">
					<br />
					<ul class="list-group">
						<li class="list-group-item">
							You can use any background or text for this badge.
						</li>
						<li class="list-group-item">
							Get color names <a href="http://www.w3schools.com/html/html_colornames.asp" target="_blank">Here</a>.
						</li>
						<li class="list-group-item">
							Mix colors with <a href="http://www.w3schools.com/tags/ref_colormixer.asp" target="_blank">this Color Mixer</a>
							then copy the hex value.
						</li>
						<li class="list-group-item">
							Please include a '#' before the 6 digit color value for hex values.
						</li>
						<li class="list-group-item">
							Type/paste a color name or hex value (eg #000ABC) in the 'color' field and click "Ok".
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 ticketPreview">
				<h2 class="text-center row center-block">Preview</h2>
				<div class="tab-content " id="widget">
					<div class=" tab-pane active center-block text-center backNFront" id="layout1" >
						<div class="badeContainer">
							<div class="row nameBadge center-block text-center" ng-attr-style="{{previewStyle()}}">
								<div class=" badgeRow1" style="text-align: left;">
									<div class=" " ng-show="toUpload">
										<img ng-src="{{picFile | ngfDataUrl}}" width="40%" class=""/>
									</div>
								</div>
								<br />
								<div class="col-md-12 col-lg-12 col-xs-12 badgeRow2  text-center center-block">
									<span class="badgeGName">{{$storage.guestsList[$storage.guestsList.length-1][0]}}</span>
									<br />
									<span class="">{{guestRole}}</span>
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 badgeRow3 center-block" style="padding-top: 5px;">
									<div class="  row" >
										<div class="col-md-3 col-lg-3 col-xs-3 sponsorLogo " ng-show="toUpload"></div>
										<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload">
											<img ng-src="{{image1 | ngfDataUrl}}" width="100%" class=""/>
										</div>
										<div class="col-md-2 col-lg-2 col-xs-2  sponsorLogo " ng-show="toUpload">
											<img ng-src="{{image2 | ngfDataUrl}}" width="100%" class=""/>
										</div>
										<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload">
											<img ng-src="{{image3 | ngfDataUrl}}" width="100%" class=""/>
										</div>
										<div class="col-md-2 col-lg-2 col-xs-2sponsorLogo " ng-show="toUpload">
											<img ng-src="{{image4 | ngfDataUrl}}" width="100%" class=""/>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <hr /> -->
						<!-- Badge back -->
						<div class="badgeBack">
							<div class="badeContainer">
								<div class="row nameBadge center-block text-center" ng-attr-style="{{previewStyle()}}">
									<div class=" badgeRow1" style="text-align: left;">
										<div class=" " ng-show="toUpload">
											<img ng-src="{{picFile | ngfDataUrl}}" width="40%" class=""/>
										</div>
									</div>
									<br />
									<div class="col-md-12 col-lg-12 col-xs-12 badgeRow2  text-center center-block">
										<span class="badgeGName">{{$storage.guestsList[$storage.guestsList.length-1][0]}}</span>
										<br />
										<span class="">{{guestRole}}</span>
									</div>
									<div class="col-md-12 col-lg-12 col-xs-12 badgeRow3 center-block" style="padding-top: 5px;">
										<div class="  row" >
											<div class="col-md-3 col-lg-3 col-xs-3 sponsorLogo " ng-show="toUpload"></div>
											<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload">
												<img ng-src="{{image1 | ngfDataUrl}}" width="100%" class=""/>
											</div>
											<div class="col-md-2 col-lg-2 col-xs-2  sponsorLogo " ng-show="toUpload">
												<img ng-src="{{image2 | ngfDataUrl}}" width="100%" class=""/>
											</div>
											<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload">
												<img ng-src="{{image3 | ngfDataUrl}}" width="100%" class=""/>
											</div>
											<div class="col-md-2 col-lg-2 col-xs-2sponsorLogo " ng-show="toUpload">
												<img ng-src="{{image4 | ngfDataUrl}}" width="100%" class=""/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-2 col-xs-12 ">
				<div class="">
					<div class="col-md-6 col-xs-6 pull-right">
						<h2 class="text-center row">Fill</h2>
						<br />
						<div class="text-center row ticketColors">
							<div class="styleBtns cf" ng-repeat="item in $storage.style | orderBy:'-' ">
								<a ng-click="ticketBackground(item.hex)">
								<div type="button" class="btn  btn-xs "
								ng-attr-style="textBtnStyle(item.hex)"
								style="">
									&nbsp;
								</div> </a>
							</div>
						</div >
						<br />
						<div class="text-center row">
							<input ng-model="userFillColor" class="row text-center" style="width: 100%;" placeholder="color"
							/>
							<br />
							<button  type="button" class="btn btn-xs btn-primary " ng-click="ticketBackground(userFillColor)">
								Ok
							</button>

						</div>
					</div>
					<div class="col-md-6 col-xs-6 pull-right">
						<h2 class="text-center row">Text</h2>
						<br />
						<div class="text-center row ticketColors">
							<div class="styleBtns_Txt cf" ng-repeat="item in $storage.style ">
								<a ng-click="ticketTxtColor(item.hex);">
								<div type="button" class="btn  btn-xs "
								ng-attr-style="textBtnStyle(item.hex)"
								style="">
									&nbsp;
								</div> </a>
							</div>
						</div>
						<br />
						<div class="text-center row">
							<input ng-model="userTextColor" class="row text-center" style="width: 100%;" placeholder="color"
							/>
							<br />
							<button  type="button" class="btn  btn-xs btn-primary " ng-click="ticketTxtColor(userTextColor)">
								Ok
							</button>
						</div>
					</div>
				</div>
			</div> -->
			
			<!-- /// -->
			
			
			<div class="col-md-2 col-xs-12 text-center center-block" >
				<a href="" ng-click="showTextColor=!showTextColor" ng-show="showTextColor"><i class="text-center fa fa-toggle-off text-bold" > </i> </i></a>
				<a href="" ng-click="showTextColor=!showTextColor" ng-show="!showTextColor"><i class="text-center fa fa-toggle-on text-bold" > </i></a>
				<div class="col-sm-12  pull-right" ng-hide="showTextColor">
					<div class="text-center row ticketColors">
						<div class="styleBtns cf" ng-repeat="item in $storage.style | orderBy:'-' ">
							<a ng-click="ticketBackground(item.hex)">
							<div type="button" class="btn  btn-xs "
							ng-style="textBtnStyle(item.hex)"
							style="">
								&nbsp;
							</div> </a>
						</div>
					</div >
					<br />
					<div class="text-center row">
						<input ng-model="userFillColor" class="row text-center" style="width: 100%;" placeholder="color"
						/>
						<br />
						<button  type="button" class="btn btn-primary btn-xs " ng-click="ticketBackground(userFillColor)">
							Ok
						</button>

					</div>
				</div>
				<div class="col-sm-12 pull-right" ng-show="showTextColor">
					<div class="text-center row ticketColors">
						<div class="styleBtns_Txt cf" ng-repeat="item in $storage.style">
							<a ng-click="ticketTxtColor(item.hex);">
							<div type="button" class="btn btn-xs "
							ng-style="textBtnStyle(item.hex)"
							style="">
								&nbsp;
							</div> </a>
						</div>
					</div>
					<br />
					<div class="text-center row">
						<input ng-model="userTextColor" class="row text-center" style="width: 100%;" placeholder="color"
						/>
						<br />
						<button  type="button" class="btn btn-primary btn-xs " ng-click="ticketTxtColor(userTextColor)">
							Ok
						</button>
					</div>
				</div>
			</div>
			
			<!--  -->
		</div>
		<div class="row">
			<br />
			<div class="pull-left ">
				<button   type="button" class="btn btn-primary  btn-xs " ng-click="printSet=true;($storage.sampleView) = true">
					Print preview
				</button>
			</div>
			<div class="pull-right" ng-hide="($storage.sampleView)">
				<a type="button" class="btn btn-primary  btn-xs " ng-click="($storage.sampleView) = true"> Preview all Badges &raquo;</a>
			</div>
			<div class="pull-right" ng-hide="(!($storage.sampleView))==true">
				<a type="button" class="btn btn-primary  btn-xs " ng-click="($storage.sampleView) = false"
				>Hide all Badges &raquo;</a>
			</div>
		</div>
	</div>
	<div  ng-show="($storage.sampleView)" class="center-block text-center" >
		<div class="pull-left ">
			<button   type="button" class="btn btn-default  btn-xs" ng-show="printSet"
			ng-click="printSet=false;($storage.sampleView) = false">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
		</div>
		<div class="pull-right " >
			<button   type="button" class="btn btn-default  btn-xs" ng-show="printSet"
			ng-click="printTickets()">
				Print
			</button>
		</div>
		<h2>Showing name badge for {{$storage.guestsList.length-2}} guests. </h2>
		<div id="printable" class="text-center center-block">
			<div class="previewTickets  center-block text-center"
			ng-repeat="item in $storage.guestsList" >
				<div class=" tab-pane active center-block text-center backNFront" id="layout1" >
					<div class="badeContainer nameBadgePrinting">
						<div class="row nameBadge center-block text-center" ng-attr-style="{{previewStyle()}}">
							<div class=" badgeRow1" style="text-align: left;">
								<div class=" " ng-show="toUpload">
									<img ng-src="{{picFile | ngfDataUrl}}" width="40%" class="img-responsive"/>
								</div>
							</div>
							<br />
							<div class="col-md-12 col-lg-12 col-xs-12 badgeRow2  text-center center-block">
								<span class="badgeGName">{{item[0]}}</span>
								<br />
								<span class="">{{guestRole}}</span>
							</div>
							<div class="col-md-12 col-lg-12 col-xs-12 badgeRow3 center-block" style="padding-top: 5px;">
								<div class="  row" >
									<div class="col-md-3 col-lg-3 col-xs-3 sponsorLogo " ng-show="toUpload" style="width: 25%">
										<span style="width: 100%;color: white"></span>
									</div>
									<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
										<img ng-src="{{image1 | ngfDataUrl}}" class="img-responsive barcodeIMG"/>
									</div>
									<div class="col-md-2 col-lg-2 col-xs-2  sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
										<img ng-src="{{image2 | ngfDataUrl}}"  class="img-responsive barcodeIMG"/>
									</div>
									<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
										<img ng-src="{{image3 | ngfDataUrl}}"  class="img-responsive barcodeIMG"/>
									</div>
									<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
										<img ng-src="{{image4 | ngfDataUrl}}" class="img-responsive barcodeIMG"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Badge back -->
					<div class="badgeBack">
						<div class="badeContainer nameBadgePrinting">
							<div class="row nameBadge center-block text-center " ng-attr-style="{{previewStyle()}}">
								<div class=" badgeRow1" style="text-align: left;">
									<div class=" " ng-show="toUpload">
										<img ng-src="{{picFile | ngfDataUrl}}" width="40%" class="img-responsive"/>
									</div>
								</div>
								<br />
								<div class="col-md-12 col-lg-12 col-xs-12 badgeRow2  text-center center-block">
									<span class="badgeGName">{{item[0]}}</span>
									<br />
									<span class="">{{guestRole}}</span>
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 badgeRow3 center-block" style="padding-top: 5px;">
									<div class="  row" >
										<div class="col-md-3 col-lg-3 col-xs-3 sponsorLogo " ng-show="toUpload" style="width: 25%">
											<span style="width: 100%;color: white"></span>
										</div>
										<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
											<img ng-src="{{image1 | ngfDataUrl}}" class="img-responsive barcodeIMG"/>
										</div>
										<div class="col-md-2 col-lg-2 col-xs-2  sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
											<img ng-src="{{image2 | ngfDataUrl}}"  class="img-responsive barcodeIMG"/>
										</div>
										<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
											<img ng-src="{{image3 | ngfDataUrl}}"  class="img-responsive barcodeIMG"/>
										</div>
										<div class="col-md-2 col-lg-2 col-xs-2 sponsorLogo " ng-show="toUpload" style="width: 16.6666666667%">
											<img ng-src="{{image4 | ngfDataUrl}}" class="img-responsive barcodeIMG"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br />
			</div>
		</div>
	</div>
	<div>
		<button ng-hide="true" ng-click="$storage.$reset({ })">
			Clear localStorage
		</button>
	</div>
</section>