<div ng-include="'partials/nav.html'"></div>
<section class="guestinfo container-fluid animated slideInRight pg" id="ticketPage">
	<div class="hideOnPrint" ng-hide="printSet">
		<div class="back_div pull-left ">
			<a type="button" class="btn btn-default btn-xs" ng-href="#!/dashboard"> <span class="fa fa-tachometer"></span> </a>
		</div>
		<h1 class="text-center">TICKET DESIGNER</h1>
		<h4 class="text-center"><a>{{$storage.eventName}}</a></h4>
		<div class="row dataFieldContainer  center-block ">
			<div class="col-sm-4 col-xs-12 pull-left ticketContent">
				<h2 class="text-center">Content</h2>
				<br />
				<div >
					<form role="form ">
						<div class="form-group">
							<input class="form-control" placeholder="Enter the name of the event" type="text"
							ng-model="$storage.eventName">
						</div>
						<div class="form-group">
							<input class="form-control"  placeholder="Event venue" type="text"
							ng-model="$storage.ticket[0].eventVenue">
						</div>
						<div class="form-group">
							<input class="form-control" id="datepicker"  placeholder=" 09/09/2016 preferred" type="text"
							ng-model="$storage.ticket[0].eventDate">
						</div>
						<div class="form-group">
							<input class="form-control"  placeholder="Event time" type="text"
							ng-model="$storage.ticket[0].eventTime">
						</div>
						<div class="form-group">
							<input class="form-control"  placeholder="Price per ticket" type="text"
							ng-model="$storage.ticket[0].ticketPrice">
						</div>
						<div class="form-group">
							<input class="form-control "  placeholder="Other info eg. ID required/19+ event" type="text"
							ng-model="$storage.ageInfo">
						</div>
						<div class="form-group text-center">
							<input class="form-control "  placeholder="Include other info for right side of ticket" type="text"
							ng-model="$storage.otherTicketInfo" ng-style="$storage.otherTicketInfo.length>=70 && {'border': '2px dotted red'}">
							{{$storage.otherTicketInfo.length}} of 70 characters
						</div>
						<!-- <div class="checkbox">
						<label>
						<input type="checkbox" ng-model="toUpload">
						Add Image? </label>
						</div>
						<div class="form-group text-justify " ng-show="toUpload">
						<label class="btn btn-default btn-file"> Select Picture and crop
						<input type="file" style="display: none;" ngf-select ng-model="picFile" accept="image/*">
						</label>
						<div ngf-drop ng-model="picFile" ngf-pattern="image/*"
						class="" ng-hide="cropImg"></div>
						<div class="checkbox">
						<label>
						<input type="checkbox" ng-model="cropImg">
						Crop Image? </label>
						</div>
						<div ngf-drop ng-model="picFile" ngf-pattern="image/*"
						class="cropArea"ng-show="cropImg">
						<img-crop image="picFile  | ngfDataUrl"
						result-image="croppedDataUrl" ng-init="croppedDataUrl=''" area-type="square"></img-crop>
						</div>
						</div> -->
					</form>
				</div>
			</div>
			<div class="col-sm-1 col-xs-12 text-center center-block" >
				<a href="" ng-click="showTextColor=!showTextColor" ng-show="showTextColor" style="font-size: 40px"><i class="fa fa-toggle-off " > </i> </i></a>
				<a href="" ng-click="showTextColor=!showTextColor" ng-show="!showTextColor" style="font-size: 40px" ><i class="fa fa-toggle-on" > </i></a>
				<div class="col-sm-12  pull-right" ng-hide="showTextColor">
					<div class="text-center row ticketColors">
						<div class="styleBtns cf" ng-repeat="item in $storage.style | orderBy:'-' ">
							<a ng-click="ticketBackground(item.hex)">
							<div type="button" class="btn  btn-xs "
							ng-style="textBtnStyle(item.hex)"
							style="">
								&nbsp;
							</div> </a>
						</div>
					</div >
					<br />
					<div class="text-center row">
						<input ng-model="userFillColor" class="row text-center" style="width: 100%;" placeholder="color"
						/>
						<br />
						<button  type="button" class="btn btn-primary btn-xs " ng-click="ticketBackground(userFillColor)">
							Ok
						</button>

					</div>
				</div>
				<div class="col-sm-12 pull-right" ng-show="showTextColor">
					<div class="text-center row ticketColors">
						<div class="styleBtns_Txt cf" ng-repeat="item in $storage.style">
							<a ng-click="ticketTxtColor(item.hex);">
							<div type="button" class="btn btn-xs "
							ng-style="textBtnStyle(item.hex)"
							style="">
								&nbsp;
							</div> </a>
						</div>
					</div>
					<br />
					<div class="text-center row">
						<input ng-model="userTextColor" class="row text-center" style="width: 100%;" placeholder="color"
						/>
						<br />
						<button  type="button" class="btn btn-primary btn-xs " ng-click="ticketTxtColor(userTextColor)">
							Ok
						</button>
					</div>
				</div>
			</div>
			<div class="col-sm-7 col-xs-12 ticketPreview">
				<div class="btn-group">
					<button  type="button" href="" ng-click="setTicketFormat(0)" class="btn btn-info">
						Style 1
					</button>
					<button  type="button" href="" ng-click="setTicketFormat(1)" class="btn btn-info">
						Style 2
					</button>
				</div>
				<button   type="button" class="btn btn-info btn-md pull-right "
				ng-click="printSet=true;($storage.sampleView) = true;">
					<span class="glyphicon glyphicon-print"></span>
				</button>
				<div ng-include="$storage.user.styles.selectedTicFormat"></div>
			</div>
		</div>
	</div>
	<div  ng-show="($storage.sampleView)" class="center-block text-center" >
		<div class="pull-left ">
			<button   type="button" class="btn btn-default  btn-xs" ng-show="printSet"
			ng-click="printSet=false;($storage.sampleView) = false">
				<span class="glyphicon glyphicon-chevron-left "></span>
			</button>
		</div>
		<div class="pull-right" >
			<button   type="button" class="btn btn-default  btn-lg" ng-show="printSet"
			ng-click="printTickets()">
				<span class="glyphicon glyphicon-print"></span>
			</button>
		</div>

		<div ng-include="$storage.user.styles.selectedTicFormatPre"></div>
	</div>
	<div>
		<button ng-hide="true" onclick="localStorage.clear();">
			Clear localStorage
		</button>
	</div>
</section>