<section class="portfolioPage " id="">
	<!-- <a href="javascript:void(0);" ng-click="go_back()" class="seeDetails "> <i class="material-icons previousPageBtn">&#xE408;</i></a> -->
	<div class="panel panel-default">
		<div class="panel-body  portfolioPageAlt">
			<h1 class="text-center center-block">EVENTSTONE</h1>
			<p class="projectIntro">
				I believe that people should be able to do something meaningful and unique with
				the limited resources that they have. I also believe that we should be able to restrict access to the information
				about the things we do, like the events we organize, and the people we do it with, like the guests who attend
				our events. That is one reason why I made Eventstone. 
				<a class="extern_link seeDetails" href="http://eventstone.io" target="_blank"><h4 class="seeDetails">Go try it out</h4></a>
			</p>
			<br />
			<p>
				Name changed to Evewhyte because Eventstone is a trademarked name and there is no suitable .com, .org or .net domain
				available for the name Eventstone.
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body text-justify center-block portfolioPageMain">
			<img ng-src="images/portfolio/eventstone/three_sizes2.png" width="60%" class="center-block text-center" />
			<div class="portfolioTexts">
				<h1 class="">MY ROLE</h1>
				<p>
					Eventstone is an independent project. I worked on all the design and implementation.
					I, however, talked to a lot of prospective users to get their insight and then I tailored my focus to
					their need.
				</p>
				<h3 >Experience Strategy and Vision</h3>
				<p>
					I designed prototypes to test the vision, design principles and content strategy I had for Eventstone.
					This helped decide the features that were worth implementing and those that were not worthwhile.
				</p>
				<img  ng-src="images/portfolio/eventstone/vid2.gif" width="60%" class="center-block text-center" />
				<p class="text-center">
					<a href="http://recordit.co/tvS3ujv578" target="_blank">See Full Video</a>
				</p>
				<h3 >Planning</h3>
				<p>
					I defined the product by posing questions to event organizers.
					I focused on the goals of event organizers and balanced this with long term goals of Eventstone.
				</p>
				<h3 >Design and Execution</h3>
				<p>
					I implemeted Eventstone for both mobile and desktop platforms.
					I made wireframes, prototypes and design specs. This all started with simple
					white board sketches. Next, I did the coding. For the coding of Eventstone,
					I planned out and designed algorithms that were efficient for the purposes that
					they serve. An example of this is the algorithm that formats names copied from multiple
					columns of an excel file into first and last name and title an and adds them as elements, one at a time, to the
					guest list.
				</p>
				<img ng-src="images/portfolio/eventstone/design_ticket.png" width="60%" class="center-block text-center" />
				<h3 >Testing</h3>
				<p>
					As at January 8th, 2016, I have test run Eventstone at three events including the
					<a href="https://students.usask.ca/events/ignite.php#ItStartswithUS" target="_blank" class="extern_link seeDetails">Student Leadership Conference</a>.
					Testing it with actual users was very beneficial to
					the design of Eventstone. I made refinements and added new features based on user feedback.
					There are still a tonne of changes I will like to make to it.

				</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body text-center portfolioPageAlt">
			<img ng-src="images/portfolio/eventstone/design_nameBadge2.png" width="60%" class="center-block text-center"
			style="border: thin solid  #313649;"/>
			<p>
				Name Badge Design Screen
			</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body center-block portfolioPageMain">
			<div class="portfolioTexts">
				<h1 class="">THE CHALLENGE</h1>
				<p >
					Provide a system that will save time and empower event organizers especially
					those organizing small events while also protecting the data of guests by only storing guest list details in
					Event Organizer's device.
				</p>
				<p>
					At events, I notice guests waiting in line to be checked in from a list on paper or, on rare occasions,
					a document on a computer. The process takes time and, I imagine, it must be stressful for some guests.
					This, as you might be aware, is also not enviroment-friendly.
				</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body text-center portfolioPageAlt">
			<img ng-src="images/portfolio/eventstone/checkin.png" width="60%" class="" style="border: thin solid  #313649;"/>
			<p>
				My passion for making things that solve my problems and
				the problems of my friends and also my convicton are the driving force for the making of
				Eventstone.
			</p>
			<img ng-src="images/portfolio/eventstone/list.png" width="60%" class="" style="border: thin solid  #313649;"/>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body center-block portfolioPageMain">
			<div class="portfolioTexts">
				<h1 class="">SOLUTIONS AND RESULTS</h1>
				<h3 >User Feedback is always the best feedback.</h3>
				<p>
					When I first started designing Eventstone, I was missing a lot of details about the features that needed to be implemented
					like the ability to print out a name badge for a guest who is added to Eventstone <i>during</i> the event or the ability
					to do the checkins <i>simulteneously</i>  on different devices. I learned about these key
					features by talking to Users.
				</p>
				<h3 >Results</h3>
				<p>
					Eventstone is currently being used in my university by student groups. I am looking forward to continuing to
					work on Eventstone in my free time so that it cen be used for <b>free</b> by more University Students in Canada.
				</p>
				<a class="extern_link seeDetails" href="http://eventstone.io" target="_blank"><h4 class="seeDetails">Go try it out</h4></a>
			</div>
		</div>
	</div>
</section>

