<div class="container-fluid">
	<!-- Optional social media icons/links -->
		<p>
			Made with <a href="https://wiki.usask.ca/display/APPS/Limestone" title="Limestone Release Notes"> University of Saskatchewan Limestone
		</p>
		<a class="uofs-footer-logo" href="http://www.usask.ca/"
		target="_blank"></a>
		<p class="uofs-copyright">
			<br>
			© University of Saskatchewan
			<a href="http://www.usask.ca/disclaimer.php"
			target="_blank">Disclaimer</a> | <a href="http://www.usask.ca/privacy.php"
			target="_blank">Privacy</a>
		</p>
</div>