<section class="uofs-section jumbotron  uofs-section-cover text-center  animated  zoomIn homeBg" data-lastmodifiedby="uiu040"
style="position:fixed;top:0;left:0;right:0;bottom:0;height:100%;overflow: hidden;" id="home_bg">
	<div style="opacity: 1;"  class="container-fluid" >
		<h1 ><span style="color:#DB9B67;">On-Farm</span></h1>
		<p style="background-color: rgba(0, 0, 0, 0.4); padding: 2%;">
			<span style="color:#DB9B67;">I am On-Farm Variety Selection Forum.
				Farmers tell me how their crops did and I share this information with other farmers. 
				<a type="" ng-href="#/add" class=" btn btn-warning btn-xs"> 
					<span class="uofs-icon uofs-icon-plus"> </span> Tell me </a>  how your crop did
					or <a type="" ng-href="#/main" class=" btn btn-warning btn-xs"> 
					<span class="uofs-icon uofs-icon-group"> </span> see what </a> 
					other farmers are saying about the variety you are looking to try.
		</p>
		<!-- &nbsp;&nbsp; Start&nbsp;&nbsp; -->

		<!-- <ol class="list-inline uofs-cta-list class="breadcrumb"">
		<li>
		<a class="btn btn-default btn-lg" ng-href="#/populate">
		<i class="uofs-icon uofs-icon-down"></i> </a>
		</li>
		</ol> -->
	</div>
</section>