<!-- Fine recipe by ingredient -->
<div class="row">
	<form role="form">
		<br />
		<div class="form-group center-block">
			<p >
				Get recipes for the stuff you have. Enter the ingredients separted comma
			</p>
			<input  class="form-control "  placeholder="cheese, bread" type="text"
			ng-model="$storage.api.questions.ing" ng-required="true" autofocus="autofocus">
		</div>
		<div class="form-group text-right">
			<button ng-model="btnText" type="button" ng-show="true" ng-disabled="$storage.api.questions.ing.length<1 || $storage.api.questions.ing == undefined"
			class="btn btn-primary " ng-click="getRecipeForIngredient($storage.api.questions.ing);">
				Get recipe
			</button>
		</div>
		<p class="clearfix"></p>
	</form>
	<div class="panel row" >
		<div class="panel-body">
			<div class="row">
				<div id="foodContainer" ng-repeat="ingredient in $storage.api.responses.ingAnswer" class="col-xs-6 col-md-4 text-center center-block"
				style="height:400px;">
					<a  href="" data-toggle="modal" data-target="#recipeDetailModal" ng-click="getRecipeInfo(ingredient.id, ingredient.title)">
					<div class="row">
						<img class="img-responsive center-block text-center" src="{{ingredient.image}}" width="50%"/>
						<p>
							{{ingredient.title}}
						</p>
					</div> </a>
				</div>
			</div>
		</div>
	</div>
</div>