<!-- Full String search -->
<div class="row">
	<form role="form">
		<br />
		<div class="form-group col-md-12  col-xs-12 center-block">
			<div>
				<label >What kind of meail would you like. </label>
				<input  class="form-control "  placeholder="Required. Others are optional.eg african, chinese, japanese, korean, vietnamese, thai, indian, british, irish, french, italian, mexican, spanish, middle eastern, jewish, american, cajun, southern, greek, german, nordic, eastern european, caribbean, latin american" type="text"
				ng-model="$storage.api.questions.fullStr.kind" ng-required="true" autofocus="autofocus">
			</div>
			<div>
				<label >What kind of diet are you on</label>
				<input  class="form-control "  placeholder="pescetarian, lacto vegetarian, ovo vegetarian, vegan, vegetarian" type="text"
				ng-model="$storage.api.questions.fullStr.diet" ng-required="true" autofocus="autofocus">
			</div>
			<a  href="" ng-click="moreOptions=!moreOptions">More Options </a>
			<div ng-show="moreOptions">
				<div>
					<label >What items would you like to exclude from your recipe</label>
					<input  class="form-control "  placeholder="dairy, egg, gluten, peanut, sesame, seafood, shellfish, soy, sulfite, tree nut, wheat" type="text"
					ng-model="$storage.api.questions.fullStr.exclude" ng-required="true" autofocus="autofocus">
				</div>
				<div>
					<label >What are you intolerant to</label>
					<input  class="form-control "  placeholder="" type="text"
					ng-model="$storage.api.questions.fullStr.allergic" ng-required="true" autofocus="autofocus">
				</div>
			</div>
		</div>
		<div class="form-group col-md-12  col-xs-12 text-center">
			<button ng-model="btnText" type="button" ng-show="true" ng-disabled="$storage.api.questions.fullStr.length<1 || $storage.api.questions.fullStr == undefined"
			class="btn btn-primary " ng-click="searchRecipes($storage.api.questions.fullStr);">
				See Recipes
			</button>
		</div>
		<br />
	</form>
	<div class="panel" >
		<div class="panel-body">
			<div class="row">
				<div ng-repeat="recipe in $storage.api.responses.fullStrAnswer.results" class="col-xs-12 text-center center-block" style="padding-bottom: 15px">
					<p>
						{{recipe.title}}
					</p>
					<img class="img-responsive center-block text-center" src="{{$storage.api.responses.fullStrAnswer.baseUri + recipe.imageUrls}}" width="50%"/>
					<a  href="" data-toggle="modal" data-target="#recipeDetailModal" ng-click="getAnalyzedRecipe(recipe.id, recipe.title)">See Recipe Details </a>
				</div>
			</div>
		</div>
	</div>
</div>