<!-- Test natural language search -->
<div class="row">
	<form role="form">
		<br />
		<div class="form-group col-md-12  col-xs-12 center-block">
			<label >Ask nutrition related  question, in natural language.</label>
			<input  class="form-control "  placeholder="How much calories in egg?" type="text"
			ng-model="$storage.api.questions.natLang" ng-required="true" autofocus="autofocus">
		</div>
		<div class="form-group col-md-12  col-xs-12 text-center">
			<button ng-model="btnText" type="button" ng-show="true" ng-disabled="$storage.api.questions.natLang.length<1 || $storage.api.questions.natLang == undefined"
			class="btn btn-primary " ng-click="getQuickAnswer($storage.api.questions.natLang);showAnswer=!showAnswer;">
				Ask Me
			</button>
		</div>
		<br />
	</form>
	<div class="panel " >
		<div class="panel-body">
			<img class="img-responsive center-block text-center" src="{{$storage.api.responses.natLangAnswer.image}}" />
			<p>
				{{$storage.api.responses.natLangAnswer.answer}}
			</p>
			{{$storage.api.responses.natLangAnswer}}
		</div>
	</div>
</div>