<!-- Test string search -->
<form role="form">
	<br />
	<div class="form-group center-block">
		<p >
			Type recipe details and search
		</p>
		<input  class="form-control "  placeholder="salmon with pepper" type="text"
		ng-model="$storage.api.questions.search" ng-required="true" autofocus="autofocus">
	</div>
	<div class="form-group text-right">
		<button ng-model="btnText" type="button" ng-show="true" ng-disabled="$storage.api.questions.search.length<1 || $storage.api.questions.search == undefined"
		class="btn btn-primary " ng-click="searchWithPhrase($storage.api.questions.search);">
			Search
		</button>
	</div>
	<p class="clearfix"></p>
</form>
<div class="panel row" >
	<div class="panel-body">
		<div class="row">
			<div id="foodContainer" ng-repeat="recipe in $storage.api.responses.searchAnswer.matches" class="col-xs-6 col-md-4 text-center center-block"
			style="height:400px;">
				<a  href="" data-toggle="modal" data-target="#recipeDetailModal" ng-click="getYummlyRecipe(recipe.id, recipe.recipeName)">
				<div class="row">
					<img class="img-responsive center-block text-center" src="{{recipe.smallImageUrls[0]}}" width="50%"/>
					<p>
						{{recipe.recipeName}}
					</p>
				</div> </a>
			</div>
		</div>
	</div>
</div>