<div ng-include="'partials/nav_party.html'"></div>
<!-- Avery paper. Fit 6 per page. Design and just print -->
<section class="guestinfo uofs-section container-fluid" id="populatePage">
	<!-- <div class="back_div pull-left ">
	<a type="button" class="btn btn-default btn-xs" ng-href="#/home"> <span class="glyphicon glyphicon-menu-left"></span> </a></a>
	</div> -->
	<h1 class="text-center uofs-page-title"><a>New Event</a></h1>
	<!-- <h4 class="text-center "><a>{{$storage.eventName}}</a></h4> -->
	<div class="populate-name " style="top: 50%;" ng-show="!showAddTickNum">
		<div class=" center-block col-xs-12">
			<form role="form">
				<br />
				<div class="form-group col-md-12  col-xs-12 text-center center-block">
					<label >Enter/Modify the name of the Event and click next</label>
					<input ng-model="$storage.eventName" placeholder="Enter your event name to begin"
					class="form-control center center-block home_eventName" id="homeInput" autofocus="autofocus">
				</div>
			</form>
		</div>
		<p class="col-md-12  col-xs-12 text-center" ng-show="$storage.eventName.length >=1">
			{{$storage.eventName}} is the event you are managing.
		</p>
		<div class="forwardCenterArr ">
			<a  class="" ng-click="showAddTickNum = true;$storage.eventName=$storage.eventName"  href=""> <span class="glyphicon glyphicon-menu-right"></span> </a> </a>
		</div>
	</div>
	<div class=" populate_div  " style="padding-bottom: 2%;" ng-show="showAddTickNum">
		<div class="backwardCenterArr ">
			<a  class="" ng-click="showAddTickNum = false"  href=""> <span class="glyphicon glyphicon-menu-left"></span> </a> </a>
		</div>
		<div class=" center-block col-xs-12">
			<form role="form">
				<br />
				<div class="form-group col-md-12  col-xs-12 text-center center-block">
					<label >Total number of Tickets to generate</label>
					<input  class="form-control addTicketInput text-center center-block"  placeholder="One per expected attendee" type="text"
					ng-model="$storage.totalTickets" ng-required="true" autofocus="autofocus">
				</div>
				<div class="form-group col-md-12  col-xs-12 text-center">
					<br />
					<button ng-model="btnText" type="button" ng-show="true" ng-disabled="$storage.totalTickets.length<1 || $storage.totalTickets == undefined"
					class="btn btn-primary " ng-click="generateTicketNums();guestAddFeedback=true;guestAddMsg();tDesign=true  ">
						<span class="glyphicon glyphicon-plus"></span> Add
					</button>
					<div ng-show="loading.generatingTicket">
						<img class="img-responsive row center-block" src="images/spin.gif"/>
					</div>
				</div>
				<br />
				<!-- <div class="form-group col-md-12  col-xs-12 text-center" ng-show="tDesign || $storage.guestsList.length>0">
					<hr />
					<br />
					<a type="button" class="btn btn-primary  "  ng-href="#/tickets"><span class="glyphicon glyphicon-edit"></span> Design Tickets </a>
				</div> -->
			</form>
		</div>
		<div class="forwardCenterArr ">
			<a  class="" ng-href="#/tickets"  href=""> <span class="glyphicon glyphicon-menu-right"></span> </a> </a>
		</div>
		<div class="row text-center center-block" ng-show="(tDesign || $storage.guestsList.length>0)">
			<a class="col-md-12  col-xs-12 "   ng-show="$storage.guestsList.length>0" ng-click="guestAddFeedback = !guestAddFeedback">
			<button type="button" class="btn btn-primary checkInBtn btn-xs">
				<span ng-show="guestAddFeedback"> <span class="glyphicon glyphicon-menu-up"> </span></span>
				<span ng-show="!guestAddFeedback"> <span class="glyphicon glyphicon-menu-down"> </span></span>
			</button> </a>
		</div>

		<h4 class="col-md-12  col-xs-12 " ng-show="guestAddFeedback"> &#926; You've added {{$storage.guestsList.length}} Tickets &#926;</h4>
		<table class="table table-responsive table-hover table-striped table-bordered table-condensed" ng-show="guestAddFeedback">
			<tbody>
				<tr ng-repeat="item in $storage.guestsList ">
					<td ><a href="" ng-click="removeElement($storage.guestsList, $storage.guestsList.indexOf(item))"><span class="glyphicon glyphicon-remove"></span></a></td>
					<td ng-repeat="a in item">{{ a }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<button ng-hide="true" ng-click="$storage.$reset({ })">
			Clear localStorage
		</button>
	</div>
	<br />
	<br />
	<div class="clearfix ">
		<div ng-show="backUp" class="row ">
			<hr />
			<div class="col-xs-4 col-md-4">
				<p>
					This is your guest list from the last time you removed all guests from Eventstone.
				</p>
				<p>
					You currently have {{$storage.guestsList.length-2}} guests in your guest list.
				</p>
				<p>
					There are {{$storage.backUpGuestList.length}} guests in the back up list.
				</p>
				<p ng-show="$storage.guestsList.length != $storage.backUpGuestList.length">
					<span ng-show="popolateReplace"> You can restore from from this back up.
						<button type="button" class="btn btn-primary btn-xs " ng-click="replacePop()">
							Restore
						</button></span>
					<span ng-show="!popolateReplace">This would remove all current guests. Are you sure?
						<button type="button" class="btn btn-primary btn-xs " ng-click="replacePop(); restoreFromBackUp()">
							Yes. Replace guests.
						</button></span>
				</p>
			</div>
			<div class="col-xs-1 col-md-1" ></div>
			<ul class="guestlist col-xs-7 col-md-7 ">
				<div class="text-center row center-block">
					<span id="titleContent" class=" text-center col-lg-2 col-md-2 col-sm-2 gListTitle" ng-repeat="a in  $storage.backUpGuestList[0] " contenteditable="true"> {{$storage.titleArr[$index]}} </span>

				</div>
				<br />

				<div class="guest cf row center-block" ng-repeat="item in $storage.backUpGuestList">
					<span  class=" text-left col-lg-2 col-md-2 col-sm-2 gListNew" ng-repeat="a in item"> {{a}} </span>

				</div>
			</ul>
		</div>
	</div>
</section>

