<div ng-include="'partials/nav.html'"></div>
<section class="guestinfo uofs-section container-fluid " id="populatePage">
	<div class="back_div pull-left ">
		<a type="button" class="btn btn-default btn-xs" ng-href="#/home"> <span class="glyphicon glyphicon-menu-left"></span> </a></a>
	</div>
	<h1 class="text-center uofs-page-title"><a>SPREADSHEET</a></h1>
	<h4 class="text-center "><a>{{$storage.eventName}}</a></h4>
	<p class="text-muted"></p>
	<div class="btn-group center-block row text-center" data-toggle="buttons" style=""></div>
	<div class="addByPasting center center-block row center-block" ng-show="addByPasting">
		<div class="row dataFieldContainer center-block  text-center">
			<textarea ng-model="dataFieldExcel" placeholder="Paste data from excel or csv file" 
		class="dataField form-control center-block center" type="textarea" style="height: 250px !important; " autofocus="autofocus" ></textarea>
		</div>
		<div class=" populate_div  " data-toggle="buttons" style="padding-bottom: 2%;">
			<div class="pull-right">
				<button ng-model="btnText" type="button" ng-disabled="dataFieldExcel.length <1 || dataFieldExcel.length == undefined"
				class="btn btn-primary" ng-click="addPastedExcel();dataFieldExcel = '';guestAddFeedback=true;guestAddMsg();nbDesign=true ">
					{{listBtnText}}
				</button>
				<button ng-model="btnText" type="button" ng-disabled="dataFieldExcel.length <1 || dataFieldExcel.length == undefined"
				class="btn btn-primary" ng-click="clearField(dataFieldExcel); dataFieldExcel = ' ' ">
					Clear Field
				</button>
			</div>
			<br />
			<br />
			<div class="form-group col-md-12  col-xs-12 text-center" ng-show="nbDesign || $storage.guestsList.length>0">
				<hr />
				<a type="button" class="btn btn-primary  "  ng-href="#/nameBadge"><span class="glyphicon glyphicon-edit"></span> Design Name Badges</a>
			</div>
			<div class="row text-center center-block">
				<a class="col-md-12  col-xs-12  "   ng-show="$storage.guestsList.length>0"
				ng-click="guestAddFeedback = !guestAddFeedback">
				<button type="button" class="btn btn-primary checkInBtn btn-xs  ">
					<span ng-show="guestAddFeedback"> <span class="glyphicon glyphicon-menu-up"> </span></span>
					<span ng-show="!guestAddFeedback"> <span class="glyphicon glyphicon-menu-down"> </span></span>
				</button> </a>
			</div>
			<h4 class="col-md-12  col-xs-12 " ng-show="guestAddFeedback"> &#926; You've added {{$storage.guestsList.length}} Guests &#926;</h4>
			<div class="guest cf text-center row center-block" ng-repeat="item in $storage.guestsList"
			ng-show="guestAddFeedback">
				<a ng-click="removeElement($storage.guestsList, $storage.guestsList.indexOf(item))"> <i type="button" class="close pull-left" aria-hidden="true" ng-show="showListIcon">X</i></a>
				<span  class=" text-left col-lg-2 col-md-2 col-sm-2 gListNew" ng-repeat="a in item"> {{a}} </span>
			</div>
		</div>
	</div>
</section>

