<div ng-include="'partials/nav.html'"></div>
<section class="guestinfo container-fluid pg" id="populatePage">
	<div class="back_div pull-left ">
		<a type="button" class="btn btn-default btn-xs" ng-href="#!/home"> <span class="glyphicon glyphicon-menu-left"></span> </a></a>
	</div>
	<div class="addByPasting center center-block row center-block">
		<div class="row dataFieldContainer center-block  text-center">
			<textarea ng-model="dataFieldExcel" placeholder="Paste data from excel or csv file" 
		class="dataField form-control center-block center" type="textarea" style="height: 200px !important; " autofocus="autofocus" ></textarea>
		</div>
		<div class=" populate_div  " data-toggle="buttons" style="padding-bottom: 2%;">
			<div class="pull-right">
				<button ng-model="btnText" type="button" ng-disabled="dataFieldExcel.length <1 || dataFieldExcel.length == undefined"
				class="btn btn-primary" ng-click="addPastedExcel();dataFieldExcel = '';guestAddFeedback=true;guestAddMsg();nbDesign=true ">
					{{listBtnText}}
				</button>
				<button ng-model="btnText" type="button" ng-disabled="dataFieldExcel.length <1 || dataFieldExcel.length == undefined"
				class="btn btn-primary" ng-click="clearField(dataFieldExcel); dataFieldExcel = ' ' ">
					Clear Field
				</button>
			</div>
			<div class="form-group col-md-12  col-xs-12 text-center" ng-show="nbDesign || $storage.guestsList.length>0">
				<hr />
				<a type="button" class="btn btn-primary  "  ng-href="#!/nameBadge"><span class="glyphicon glyphicon-edit"></span> Design Name Badges</a>
			</div>
			<div class="row text-center center-block">
				<a class="col-md-12  col-xs-12  "   ng-show="$storage.guestsList.length>0"
				ng-click="guestAddFeedback = !guestAddFeedback">
				<button type="button" class="btn btn-primary checkInBtn btn-xs  ">
					<span ng-show="guestAddFeedback"> <span class="glyphicon glyphicon-menu-up"> </span></span>
					<span ng-show="!guestAddFeedback"> <span class="glyphicon glyphicon-menu-down"> </span></span>
				</button> </a>
			</div>
			<h4 class="col-md-12  col-xs-12 " ng-show="guestAddFeedback"> &#926; You've added {{$storage.guestsList.length}} Guests &#926;</h4>
		</div>
	</div>
</section>

